# Understanding & Cleaning the Data

# <span style='background :khaki' > Install & Importa Libraries </span>

In [174]:
### ***Enviroment Preparation***
# Install Pandas
!pip install pandas
!pip install matplotlib
!pip install seaborn
'''!pip install scikit-learn'''

!pip install dtale

# Update pip -- WARNING Resolution
!python.exe -m pip install --upgrade pip

Requirement already satisfied: pandas in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (1.4.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.22.4)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2022.2.1)
Requirement already satisfied: six>=1.5 in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Requirement already satisfied: matplotlib in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (3.5.3)
Requirement already satisfied: numpy>=1.17 in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (1.22.4)
Requirement already satisfied: packaging>=20.0 in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (21.3)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (4.37.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (9.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (3.0.7)
Requirement already satisfied: six>=1.5 in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Requirement already satisfied: seaborn in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (0.12.0)
Requirement already satisfied: pandas>=0.25 in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from seaborn) (1.4.3)
Requirement already satisfied: numpy>=1.17 in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from seaborn) (1.22.4)
Requirement already satisfied: matplotlib>=3.1 in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from seaborn) (3.5.3)
Requirement already satisfied: cycler>=0.10 in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=3.1->seaborn) (0.11.0)
Requirement already satisfied: packaging>=20.0 in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=3.1->seaborn) (21.3)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=3.1->seaborn) (3.0.7)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=3.1->seaborn) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=3.1->seaborn) (1.4.4)
Requirement already satisfied: pillow>=6.2.0 in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=3.1->seaborn) (9.2.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=3.1->seaborn) (4.37.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from pandas>=0.25->seaborn) (2022.2.1)
Requirement already satisfied: six>=1.5 in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.1->seaborn) (1.16.0)
Requirement already satisfied: dtale in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (2.9.0)
Requirement already satisfied: future>=0.14.0 in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from dtale) (0.18.2)
Requirement already satisfied: Flask-Compress in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from dtale) (1.13)
Requirement already satisfied: dash>=2.0.0 in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from dtale) (2.7.0)
Requirement already satisfied: pandas in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from dtale) (1.4.3)
Requirement already satisfied: statsmodels in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from dtale) (0.13.2)
Requirement already satisfied: kaleido in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from dtale) (0.2.1)
Requirement already satisfied: xlrd in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from dtale) (2.0.1)
Requirement already satisfied: Flask in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from dtale) (2.2.2)
Requirement already satisfied: itsdangerous in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from dtale) (2.1.2)
Requirement already satisfied: matplotlib in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from dtale) (3.5.3)
Requirement already satisfied: flask-ngrok in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from dtale) (0.0.25)
Requirement already satisfied: seaborn in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from dtale) (0.12.0)
Requirement already satisfied: requests in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from dtale) (2.27.1)
Requirement already satisfied: networkx in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from dtale) (2.8.8)
Requirement already satisfied: certifi in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from dtale) (2021.10.8)
Requirement already satisfied: et-xmlfile in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from dtale) (1.1.0)
Requirement already satisfied: missingno<=0.4.2 in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from dtale) (0.4.2)
Requirement already satisfied: dash-colorscales in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from dtale) (0.0.4)
Requirement already satisfied: xarray in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from dtale) (2022.11.0)
Requirement already satisfied: squarify in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from dtale) (0.4.3)
Requirement already satisfied: dash-bootstrap-components in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from dtale) (1.2.1)
Requirement already satisfied: dash-daq in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from dtale) (0.5.0)
Requirement already satisfied: scikit-learn in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from dtale) (1.1.2)
Requirement already satisfied: strsimpy in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from dtale) (0.2.1)
Requirement already satisfied: lz4 in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from dtale) (4.0.2)
Requirement already satisfied: scipy in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from dtale) (1.9.3)
Requirement already satisfied: plotly>=5.0.0 in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from dtale) (5.11.0)
Requirement already satisfied: numpy in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from dtale) (1.22.4)
Requirement already satisfied: six in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from dtale) (1.16.0)
Requirement already satisfied: openpyxl in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from dtale) (3.0.10)
Requirement already satisfied: cycler in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from dtale) (0.11.0)
Requirement already satisfied: dash-table==5.0.0 in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from dash>=2.0.0->dtale) (5.0.0)
Requirement already satisfied: dash-html-components==2.0.0 in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from dash>=2.0.0->dtale) (2.0.0)
Requirement already satisfied: dash-core-components==2.0.0 in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from dash>=2.0.0->dtale) (2.0.0)
Requirement already satisfied: Jinja2>=3.0 in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from Flask->dtale) (3.1.2)
Requirement already satisfied: Werkzeug>=2.2.2 in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from Flask->dtale) (2.2.2)
Requirement already satisfied: click>=8.0 in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from Flask->dtale) (8.0.3)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from plotly>=5.0.0->dtale) (8.1.0)
Requirement already satisfied: brotli in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from Flask-Compress->dtale) (1.0.9)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from matplotlib->dtale) (3.0.7)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from matplotlib->dtale) (4.37.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from matplotlib->dtale) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from matplotlib->dtale) (21.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from matplotlib->dtale) (2.8.2)
Requirement already satisfied: pillow>=6.2.0 in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from matplotlib->dtale) (9.2.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from pandas->dtale) (2022.2.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from requests->dtale) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from requests->dtale) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from requests->dtale) (1.26.9)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn->dtale) (3.1.0)
Requirement already satisfied: joblib>=1.0.0 in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn->dtale) (1.2.0)
Requirement already satisfied: patsy>=0.5.2 in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from statsmodels->dtale) (0.5.3)
Requirement already satisfied: colorama in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from click>=8.0->Flask->dtale) (0.4.4)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (from Jinja2>=3.0->Flask->dtale) (2.1.1)

Requirement already satisfied: pip in c:\users\ghoyo\appdata\local\programs\python\python310\lib\site-packages (23.0)

In [175]:
### ***Imports***
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

from datetime import datetime
from datetime import timedelta

'''from sklearn.ensemble import IsolationForest'''

import dtale
import os

# <span style='background :khaki' > Import all datafiles together </span>

#### <span style="background:skyblue"> Save all relevant file names <span>

In [176]:
folder_path = r'C:\Users\ghoyo\Desktop\TFM 3.0\JawsSpotifyData'

In [177]:
file_path_list = []

for filename in os.listdir(folder_path):
    if 'endsong_' in filename:
        file_path = os.path.join(folder_path, filename)
        if os.path.isfile(file_path):
            file_path_list.append(filename)
        
print(file_path_list)

['endsong_0.json', 'endsong_1.json', 'endsong_2.json', 'endsong_3.json', 'endsong_4.json', 'endsong_5.json', 'endsong_6.json']

#### <span style="background:skyblue"> Open Files as pandas dataframes and save them together in a list <span>

In [178]:
# Create an empty list to store the data frames
df_list = []

# Iterate over the file paths and read the files into pandas data frames
for file_path in file_path_list:
    df = pd.read_json(folder_path+'\\'+file_path)
    df_list.append(df)

In [179]:
df_list[0].head(2)

,ts,username,platform,ms_played,conn_country,ip_addr_decrypted,user_agent_decrypted,master_metadata_track_name,master_metadata_album_artist_name,master_metadata_album_album_name,...,episode_name,episode_show_name,spotify_episode_uri,reason_start,reason_end,shuffle,skipped,offline,offline_timestamp,incognito_mode
0,2017-04-08T03:34:25Z,javicalde,"Android OS 7.0 API 24 (samsung, SM-G935F)",149625,ES,37.10.166.26,unknown,Dominator,Armin van Buuren,Dominator,...,None,None,None,trackdone,trackdone,True,NaN,False,1491622313381,False
1,2018-07-16T10:19:32Z,javicalde,"iOS 11.4 (iPhone7,2)",8379,ES,193.152.35.79,unknown,Lo Siento,Kaydy Cain,Calle Amor,...,None,None,None,trackdone,fwdbtn,False,NaN,True,1531735184645,False

#### <span style="background:skyblue"> Check if all df have the same columns -- check dfs are compatible <span>

In [180]:
columns_values = []

for a in df_list:
    columns_values.append(list(a.columns.values))
    
spot = len(columns_values) -1

reference = columns_values[0]
for check, i in zip(columns_values[1:], range(spot)):
    if check != reference:
        print('Dataframes do not have the same elements! - Failed at: ', i+1)
        
else:
    print('All Dataframes have the same elements')

All Dataframes have the same elements

#### <span style="background:skyblue"> Join Files, Delete Duplicates, Sort them by time stamp and Reset Index <span>

In [181]:
# Concatenate the data frames into a single data frame
df = pd.concat(df_list, ignore_index=True)

# Sort the data frame by a specific column
df = df.sort_values(by='ts')

# Size
a = df.shape
a

(106767, 21)

In [182]:
# Drop duplicates
df.drop_duplicates(inplace=True)

# Size
b = df.shape
b

(106745, 21)

In [183]:
# Difference of original and droped duplicates
a[0]-b[0]

22

In [184]:
# Sort the data for dropped values and reset index
df = df.sort_values(by='ts')
df.reset_index(inplace=True, drop=True)

# <span style='background :khaki' > Data Exploration </span>

### <span style="background:lightgreen"> Understand the data -- Data Inspection <span>

In [185]:
df.head(2)

,ts,username,platform,ms_played,conn_country,ip_addr_decrypted,user_agent_decrypted,master_metadata_track_name,master_metadata_album_artist_name,master_metadata_album_album_name,...,episode_name,episode_show_name,spotify_episode_uri,reason_start,reason_end,shuffle,skipped,offline,offline_timestamp,incognito_mode
0,2015-03-24T10:01:05Z,javicalde,"Android OS 5.0 API 21 (samsung, SM-G900F)",51641,ES,79.146.217.142,unknown,El Rito,Gondwana,Reggae N Roll,...,None,None,None,appload,appload,False,1.0,False,0,False
1,2015-03-24T10:01:39Z,javicalde,"Android OS 5.0 API 21 (samsung, SM-G900F)",35572,ES,79.146.217.142,unknown,Can't Stop Dancin' - A.C. Remix,Becky G,Can't Stop Dancin',...,None,None,None,appload,appload,False,1.0,False,0,False

In [186]:
# Null & No Null Value count, Tipe of variable 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106745 entries, 0 to 106744
Data columns (total 21 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   ts                                 106745 non-null  object
 1   username                           106745 non-null  object
 2   platform                           106745 non-null  object
 3   ms_played                          106745 non-null  int64
 4   conn_country                       106745 non-null  object
 5   ip_addr_decrypted                  106745 non-null  object
 6   user_agent_decrypted               106181 non-null  object
 7   master_metadata_track_name         106611 non-null  object
 8   master_metadata_album_artist_name  106611 non-null  object
 9   master_metadata_album_album_name   106611 non-null  object
 10  spotify_track_uri                  106611 non-null  object
 11  episode_name                       129 non-null     object
 12  episode_show_name                  129 non-null     object
 13  spotify_episode_uri                129 non-null     object
 14  reason_start                       106745 non-null  object
 15  reason_end                         106745 non-null  object
 16  shuffle                            106745 non-null  bool
 17  skipped                            7113 non-null    float64
 18  offline                            106745 non-null  bool
 19  offline_timestamp                  106745 non-null  int64
 20  incognito_mode                     106745 non-null  bool
dtypes: bool(3), float64(1), int64(2), object(15)
memory usage: 15.0+ MB

In [187]:
# Count, mean, std, min, max and percentiles
df.describe()

          ms_played      skipped  offline_timestamp
count  1.067450e+05  7113.000000       1.067450e+05
mean   1.464133e+05     0.472375       1.432552e+12
std    1.299455e+05     0.499271       4.563620e+11
min    0.000000e+00     0.000000       0.000000e+00
25%    1.989600e+04     0.000000       1.527582e+12
50%    1.618660e+05     0.000000       1.571566e+12
75%    2.141260e+05     1.000000       1.602674e+12
max    1.084291e+07     1.000000       1.669329e+12

# <span style='background :khaki' >  Cleaning the data <span>

We cant drop nan values because some columns that are conected to others -- Song info (3 cols) and Podcast info (3 cols)

Because of this, we are going first to join them in only one grop of 3 columns

### <span style="background:lightgreen"> Join Podcast and Songs Columns </span>

In [188]:
# Get Podcast Index List
podcast_index = df['episode_name'].dropna().to_frame().index
#podcast_index

df['is_song'] = 1
df['is_podcast'] = 0

for i in podcast_index:
    df.loc[i, 'is_song'] = 0
    df.loc[i, 'is_podcast'] = 1
    df.loc[i, 'master_metadata_track_name'] = df.loc[i, 'episode_name']
    df.loc[i, 'master_metadata_album_artist_name'] = df.loc[i, 'episode_show_name']
    df.loc[i, 'master_metadata_album_album_name'] = df.loc[i, 'episode_show_name']
    df.loc[i, 'spotify_track_uri'] = df.loc[i, 'spotify_episode_uri']

### <span style="background:lightgreen"> Delete Columns with too many nan values -- 5% Criteria </span>

In [189]:
### ***Data has importance if > 5% != Nan ***
thresh = (df.shape[0]*5)/100
#print(thresh)

### ***Check What columns are useless - too many null values***
column_header = list(df.columns.values)
for c in column_header:
    if (df[c].notna().sum() < thresh):
        print('Dropping column', c, '--Too many NaN Values')
        df.drop(c, inplace=True, axis=1)

df.info()
thresh

Dropping column episode_name --Too many NaN Values
Dropping column episode_show_name --Too many NaN Values
Dropping column spotify_episode_uri --Too many NaN Values
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106745 entries, 0 to 106744
Data columns (total 20 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   ts                                 106745 non-null  object
 1   username                           106745 non-null  object
 2   platform                           106745 non-null  object
 3   ms_played                          106745 non-null  int64
 4   conn_country                       106745 non-null  object
 5   ip_addr_decrypted                  106745 non-null  object
 6   user_agent_decrypted               106181 non-null  object
 7   master_metadata_track_name         106740 non-null  object
 8   master_metadata_album_artist_name  106740 non-null  object
 9   master_metadata_album_album_name   106740 non-null  object
 10  spotify_track_uri                  106740 non-null  object
 11  reason_start                       106745 non-null  object
 12  reason_end                         106745 non-null  object
 13  shuffle                            106745 non-null  bool
 14  skipped                            7113 non-null    float64
 15  offline                            106745 non-null  bool
 16  offline_timestamp                  106745 non-null  int64
 17  incognito_mode                     106745 non-null  bool
 18  is_song                            106745 non-null  int64
 19  is_podcast                         106745 non-null  int64
dtypes: bool(3), float64(1), int64(4), object(12)
memory usage: 14.2+ MB

5337.25

### <span style="background:lightgreen"> Treatin Columns and Dropping Useless ones </span>

In [190]:
### Imporant Values By Unique Values
# Get new Column Name Values
column_names = df.columns.values

# Threshold for values evaluation 0,5% ***
th_2 = (df.shape[0]*0.05)/100

# Save
unique_values_count = []
for i in range(len(df.nunique())):
    if(df.nunique()[i] < th_2):
        unique_values_count.append(df[column_names[i]].value_counts())

#### <span style="background:skyblue"> Get Columns Info for a better evaluation </span>

In [191]:
for u in unique_values_count:
    print(u)
    print('\n')

javicalde    106745
Name: username, dtype: int64


Android-tablet OS 10 API 29 (Xiaomi, Mi A3)                                                      15547
Android OS 11 API 30 (samsung, SM-N770F)                                                         12842
Android OS 9 API 28 (Xiaomi, Mi A3)                                                               9411
Android OS 12 API 31 (samsung, SM-N770F)                                                          7546
Android-tablet OS 7.0 API 24 (samsung, SM-G935F)                                                  6149
iOS 12.1.4 (iPhone7,2)                                                                            4980
iOS 12.1 (iPhone7,2)                                                                              4617
Android-tablet OS 9 API 28 (Xiaomi, Mi A3)                                                        4477
iOS 11.4.1 (iPhone7,2)                                                                            4238
Android OS 7.0 API 24 (samsung, SM-G935F)                                                         4123
iOS 12.3.1 (iPhone7,2)                                                                            3513
Android OS 10 API 29 (samsung, SM-N770F)                                                          3427
iOS 11.4 (iPhone7,2)                                                                              3113
iOS 11.2.6 (iPhone7,2)                                                                            2567
iOS 12.2 (iPhone7,2)                                                                              2190
Partner amazon_salmon Amazon;Echo_Dot;27d4dfe427b34d57995b463e5d63198d;;tpapi                     2071
Windows 10 (10.0.18362; x64)                                                                      1543
iOS 11.1.2 (iPhone7,2)                                                                            1455
iOS 11.1.2 (iPhone8,4)                                                                            1402
iOS 11.2.2 (iPhone7,2)                                                                            1357
iOS 11.3.1 (iPhone7,2)                                                                            1247
iOS 11.3 (iPhone7,2)                                                                              1190
iOS 11.0.3 (iPhone7,2)                                                                            1125
iOS 11.2.5 (iPhone7,2)                                                                            1069
Partner SCEI sony_tv;ps4;;                                                                         725
Android OS 10 API 29 (Xiaomi, Mi A3)                                                               720
iOS 11.0.3 (iPhone8,4)                                                                             605
Android OS 5.0 API 21 (samsung, SM-G900F)                                                          450
iOS 11.1.1 (iPhone7,2)                                                                             376
Windows 10 (10.0.22000; x64)                                                                       344
iOS 12.4 (iPhone7,2)                                                                               254
Windows 10 (10.0.17134; x64)                                                                       231
Windows 10 (10.0.19041; x64)                                                                       206
Windows 10 (10.0.16299; x64)                                                                       196
iOS 11.2.1 (iPhone8,4)                                                                             193
iOS 10.3.3 (iPhone8,4)                                                                             177
Windows 10 (10.0.18362; x64; AppX)                                                                 158
Windows 10 (10.0.19043; x64)                                                                       148
Partner algoriddim_ios Algoriddim;djay;d078baefabaa408cadb7d5a2ae0eddd3;;tpapi                     147
iOS 11.1.1 (iPhone8,4)                                                                             123
iOS 11.2.1 (iPhone7,2)                                                                             107
Android OS 4.1.2 API 16 (samsung, GT-I9100)                                                        107
iOS 6.1.6 (iPod4,1)                                                                                 80
Partner sonos_imx6 Sonos;Play5;;;                                                                   51
web_player windows 10;chrome 105.0.0.0;desktop                                                      44
Partner algoriddim_android_armv7 Algoriddim;djay-FREE;d078baefabaa408cadb7d5a2ae0eddd3;;tpapi       29
Android OS 5.1 API 22 (HUAWEI, HUAWEI RIO-L01)                                                      23
Android OS 6.0.1 API 23 (samsung, SM-G935F)                                                         20
Partner android_sdk XIAOMI;mi_a3;cb34f7ce080241568038a6fe6b03e394;9_arm64-v8a                       16
Android-tablet OS 4.4.4 API 19 (samsung, SM-T560)                                                    5
Android OS 6.0.1 API 23 (samsung, SM-G900F)                                                          5
Partner samsung_tv_arm-v7a8v3r1-20121018 samsung_tv;tv_                                              3
Partner ios_sdk Apple;iPhone7.2;7e91af2342ad4d619950799f466cde20;11.2.5                              3
Name: platform, dtype: int64


ES    105549
MX       373
IT       320
ZZ       176
DE        80
NL        60
CH        44
NO        39
FR        39
AD        30
AF        25
--        10
Name: conn_country, dtype: int64


unknown     104454
57802814      1551
54198287       154
55115833        22
Name: user_agent_decrypted, dtype: int64


trackdone     55483
clickrow      20500
fwdbtn        20352
backbtn        4097
playbtn        2630
appload        2148
remote          920
                497
trackerror      109
unknown           6
endplay           3
Name: reason_start, dtype: int64


trackdone                       57095
fwdbtn                          20393
endplay                         15357
logout                           5637
backbtn                          3995
unexpected-exit-while-paused     3046
                                  487
remote                            430
unexpected-exit                   215
unknown                            56
trackerror                         30
appload                             2
clickrow                            2
Name: reason_end, dtype: int64


False    76537
True     30208
Name: shuffle, dtype: int64


0.0    3753
1.0    3360
Name: skipped, dtype: int64


False    102229
True       4516
Name: offline, dtype: int64


False    106724
True         21
Name: incognito_mode, dtype: int64


1    106616
0       129
Name: is_song, dtype: int64


0    106616
1       129
Name: is_podcast, dtype: int64

#### <span style="background:skyblue"> Drop Useless Columns </span>

In [192]:
# skipped - Incomplete Information
df.drop('skipped', inplace=True, axis=1)
# Username seams unecessary - only one value
df.drop('username', inplace=True, axis=1)

In [193]:
# conn_country seams irrelevant - 1 week time travel - 93 sonsgs = 0,2% total 
df.drop('conn_country', inplace=True, axis=1)

In [194]:
# ip_addr_decrypted is irrelevant
df.drop('ip_addr_decrypted', inplace=True, axis=1)

In [195]:
# user_agent_decrypted - only 50 results the other are unknown = NaN - useless
df.drop('user_agent_decrypted', inplace=True, axis=1)

In [196]:
# Last 4 columns are useless for our propourse
df.drop('shuffle', inplace=True, axis=1)
df.drop('offline', inplace=True, axis=1)
df.drop('offline_timestamp', inplace=True, axis=1)
df.drop('incognito_mode', inplace=True, axis=1)

#### <span style="background:skyblue"> Other Drop Info Criteria -- Search link spotify only tearts 30s or longer listened </span>

In [197]:
# Replace songs that were listened less than 12s
ix = df.loc[df['ms_played'] <= 12000].index
df = df.drop(labels=ix, axis=0)

#### <span style="background:skyblue"> Reset Index after Operations </span>

In [198]:
# Reset index after operations
df = df.sort_values('ts')
df.reset_index(inplace=True, drop=True)
df.head(3)

,ts,platform,ms_played,master_metadata_track_name,master_metadata_album_artist_name,master_metadata_album_album_name,spotify_track_uri,reason_start,reason_end,is_song,is_podcast
0,2015-03-24T10:01:05Z,"Android OS 5.0 API 21 (samsung, SM-G900F)",51641,El Rito,Gondwana,Reggae N Roll,spotify:track:1MCWWh9fTfr4Ba2hdNHbkI,appload,appload,1,0
1,2015-03-24T10:01:39Z,"Android OS 5.0 API 21 (samsung, SM-G900F)",35572,Can't Stop Dancin' - A.C. Remix,Becky G,Can't Stop Dancin',spotify:track:798lmMNZ8Z9bfq2Ygsu5Pf,appload,appload,1,0
2,2015-03-24T10:02:19Z,"Android OS 5.0 API 21 (samsung, SM-G900F)",40495,Mal De Amores,Juan Magán,Mal De Amores,spotify:track:3qblRaS6LNQlfr2iFdisRh,appload,fwdbtn,1,0

#### <span style="background:skyblue"> Transform Usefull Columns </span>

In [199]:
# Platform - Split into Categories:
#Phone = 'iOS' / 'Android'
#Computer = 'windows' / 'web' / 'linux' / 'mac'
#Devise = 'Amazon' / 'tv' / 'Partner' /

df['platform'] = df['platform'].apply(lambda x : 'Phone' if ('iOS' in x or
                                                               'Android' in x)
                                      else(
                                      'Computer' if ('Windows' in x or
                                                    'web' in x)
                                          else(
                                          'Devise' if ('Amazon' in x or
                                                      'tv' in x or
                                                      'Partner' in x)
                                              else('other')
                                          )))

In [200]:
df['platform'].unique()

array(['Phone', 'Devise', 'Computer'], dtype=object)

### <span style="background:lightgreen"> Handling missing or Nan Values <span>

In [201]:
df.isnull().sum()

ts                                   0
platform                             0
ms_played                            0
master_metadata_track_name           0
master_metadata_album_artist_name    0
master_metadata_album_album_name     0
spotify_track_uri                    0
reason_start                         0
reason_end                           0
is_song                              0
is_podcast                           0
dtype: int64

In [202]:
# Only Remove Important Nan Values
df.dropna(subset = ["master_metadata_track_name"], inplace=True)

In [203]:
df.isnull().sum()

ts                                   0
platform                             0
ms_played                            0
master_metadata_track_name           0
master_metadata_album_artist_name    0
master_metadata_album_album_name     0
spotify_track_uri                    0
reason_start                         0
reason_end                           0
is_song                              0
is_podcast                           0
dtype: int64

In [204]:
# Reset index after operations
df = df.sort_values('ts')
df.reset_index(inplace=True, drop=True)
df.head(3)

,ts,platform,ms_played,master_metadata_track_name,master_metadata_album_artist_name,master_metadata_album_album_name,spotify_track_uri,reason_start,reason_end,is_song,is_podcast
0,2015-03-24T10:01:05Z,Phone,51641,El Rito,Gondwana,Reggae N Roll,spotify:track:1MCWWh9fTfr4Ba2hdNHbkI,appload,appload,1,0
1,2015-03-24T10:01:39Z,Phone,35572,Can't Stop Dancin' - A.C. Remix,Becky G,Can't Stop Dancin',spotify:track:798lmMNZ8Z9bfq2Ygsu5Pf,appload,appload,1,0
2,2015-03-24T10:02:19Z,Phone,40495,Mal De Amores,Juan Magán,Mal De Amores,spotify:track:3qblRaS6LNQlfr2iFdisRh,appload,fwdbtn,1,0

In [205]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82740 entries, 0 to 82739
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   ts                                 82740 non-null  object
 1   platform                           82740 non-null  object
 2   ms_played                          82740 non-null  int64
 3   master_metadata_track_name         82740 non-null  object
 4   master_metadata_album_artist_name  82740 non-null  object
 5   master_metadata_album_album_name   82740 non-null  object
 6   spotify_track_uri                  82740 non-null  object
 7   reason_start                       82740 non-null  object
 8   reason_end                         82740 non-null  object
 9   is_song                            82740 non-null  int64
 10  is_podcast                         82740 non-null  int64
dtypes: int64(3), object(8)
memory usage: 6.9+ MB

In [206]:
df.shape

(82740, 11)

# <span style="background:Red">  WEB SCRAPING DATAFRAME... Not Needed Right Now <span>

# <span style="background:Red">  WEB SCRAPING DATAFRAME... Not Needed Right Now <span>

# <span style="background:Red">  WEB SCRAPING DATAFRAME... Not Needed Right Now <span>

# <span style='background :khaki' > Handeling Outlayers <span>

In [207]:
df.boxplot()

In [208]:
df.quantile(0.75)

ms_played     230000.0
is_song            1.0
is_podcast         0.0
Name: 0.75, dtype: float64

# <span style='background :khaki' > Exploratory Data Analysis (EDA) <span>

In [209]:
df.corr()

            ms_played   is_song  is_podcast
ms_played    1.000000 -0.275773    0.275773
is_song     -0.275773  1.000000   -1.000000
is_podcast   0.275773 -1.000000    1.000000

# <span style='background :khaki' > Preprocessing and Data Treatment <span>

### <span style="background:lightgreen"> Treating Time Data <span>

#### <span style="background:skyblue"> Already existing Data <span>

In [210]:
# Ts - To Datetime
df['end_streaming'] = df['ts'].apply(lambda x : x.replace('T', ' ').rstrip('Z'))
df['end_streaming'] = df['end_streaming'].apply(lambda x : datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))
df.drop('ts', inplace=True, axis=1)

In [211]:
# Miliseconds to Seconds
df['s_played'] = df['ms_played'].apply(lambda x : round(x/1000))
df.drop('ms_played', inplace=True, axis=1)

#### <span style="background:skyblue"> New Features -- DeltaTime <span>

In [212]:
# End Streaming in Seconds
epoch_time = datetime(1970, 1, 1)
df['end_streaming_seconds'] = df['end_streaming'].apply(lambda x : (x - epoch_time).total_seconds())

# Start Streaming in Seconds
for a in range(df.shape[0]):
    df.loc[a, 'start_streaming_seconds'] = df.loc[a, 'end_streaming_seconds'] - df.loc[a, 's_played']

# Start streaming
df['start_streaming'] = df['start_streaming_seconds'].apply(lambda x : (timedelta(seconds=x) + epoch_time))

In [213]:
### Delta Time between streamings
for a in range(df.shape[0]):
    if a != 0:
        df.loc[a, 'delta_time'] = df.loc[a, 'start_streaming_seconds'] - df.loc[a-1, 'end_streaming_seconds']
    else:
        df.loc[a, 'delta_time'] = 0.0

# <span style="background:Red">  Delta Time Var and Histograms <span>

# <span style="background:Red">  Delta Time Var and Histograms <span>

# <span style="background:Red">  Delta Time Var and Histograms <span>

# <span style='background :khaki' > Dealing with Errors From the Original Data <span>

In [214]:
len(df.loc[df['delta_time'] < 0, 'delta_time'])

41907

In [215]:
df.loc[df['delta_time'] < 0, 'delta_time'].unique()

array([-2.000e+00, -1.000e+00, -5.000e+00, -1.100e+01, -1.000e+01,
       -6.000e+00, -2.200e+01, -2.400e+01, -1.720e+02, -2.110e+02,
       -1.800e+02, -2.060e+02, -3.600e+01, -1.440e+02, -1.100e+02,
       -1.420e+02, -2.300e+01, -3.330e+02, -7.400e+01, -1.570e+02,
       -2.000e+02, -2.100e+01, -3.000e+00, -5.700e+01, -4.000e+01,
       -4.000e+00, -1.340e+02, -1.750e+02, -1.650e+02, -1.180e+02,
       -1.530e+02, -1.520e+02, -1.590e+02, -1.820e+02, -9.000e+00,
       -1.160e+02, -5.500e+01, -2.700e+01, -2.130e+02, -4.400e+01,
       -1.460e+02, -1.700e+01, -2.000e+01, -3.300e+01, -1.200e+01,
       -1.400e+01, -1.930e+02, -5.600e+01, -8.000e+00, -1.300e+01,
       -3.400e+01, -1.490e+02, -2.800e+01, -2.530e+02, -1.500e+01,
       -1.960e+02, -1.730e+02, -2.080e+02, -2.020e+02, -2.950e+02,
       -2.120e+02, -1.890e+02, -2.480e+02, -2.260e+02, -2.340e+02,
       -2.280e+02, -2.170e+02, -2.200e+02, -2.900e+02, -2.030e+02,
       -2.240e+02, -8.200e+01, -2.310e+02, -3.310e+02, -3.250e+02,
       -1.500e+02, -2.320e+02, -1.850e+02, -2.210e+02, -2.710e+02,
       -2.830e+02, -8.000e+01, -3.070e+02, -3.300e+02, -1.360e+02,
       -1.710e+02, -1.150e+02, -6.100e+01, -2.690e+02, -2.300e+02,
       -9.600e+01, -1.740e+02, -1.900e+02, -2.330e+02, -2.370e+02,
       -1.370e+02, -1.210e+02, -1.110e+02, -2.460e+02, -3.200e+01,
       -1.860e+02, -1.800e+01, -7.000e+00, -1.900e+01, -1.300e+02,
       -1.840e+02, -3.900e+01, -1.400e+02, -1.690e+02, -6.600e+01,
       -1.390e+02, -2.010e+02, -1.700e+02, -1.680e+02, -2.230e+02,
       -5.800e+01, -1.290e+02, -1.880e+02, -2.900e+01, -6.900e+01,
       -4.700e+01, -2.100e+02, -1.270e+02, -3.500e+01, -1.760e+02,
       -9.900e+01, -2.860e+02, -4.100e+01, -3.130e+02, -8.100e+01,
       -4.500e+01, -1.120e+02, -8.700e+01, -1.200e+02, -5.300e+01,
       -1.600e+01, -1.030e+02, -2.180e+02, -1.970e+02, -2.140e+02,
       -1.040e+02, -6.700e+01, -1.550e+02, -2.360e+02, -8.300e+01,
       -7.300e+01, -8.600e+01, -2.490e+02, -3.100e+01, -2.040e+02,
       -9.800e+01, -1.330e+02, -2.740e+02, -1.250e+02, -6.800e+01,
       -3.000e+01, -2.250e+02, -1.050e+02, -9.100e+01, -5.000e+01,
       -1.660e+02, -4.300e+01, -1.080e+02, -3.800e+01, -1.580e+02,
       -7.700e+01, -1.380e+02, -1.920e+02, -9.300e+01, -2.500e+01,
       -6.500e+01, -3.730e+02, -8.500e+01, -1.830e+02, -1.190e+02,
       -2.600e+01, -2.410e+02, -1.780e+02, -5.900e+01, -9.200e+01,
       -1.450e+02, -8.900e+01, -8.400e+01, -2.540e+02, -2.470e+02,
       -1.320e+02, -1.810e+02, -2.580e+02, -6.200e+01, -4.200e+01,
       -1.770e+02, -6.000e+01, -3.650e+02, -4.710e+02, -5.000e+02,
       -4.420e+02, -5.390e+02, -9.500e+01, -1.020e+02, -1.910e+02,
       -2.400e+02, -4.560e+02, -4.900e+02, -1.980e+02, -1.940e+02,
       -2.050e+02, -2.160e+02, -1.140e+02, -2.270e+02, -2.090e+02,
       -1.170e+02, -3.240e+02, -7.800e+01, -2.150e+02, -2.670e+02,
       -4.110e+02, -7.900e+01, -2.650e+02, -2.920e+02, -2.440e+02,
       -3.440e+02, -1.990e+02, -1.260e+02, -2.890e+02, -2.570e+02,
       -2.850e+02, -2.380e+02, -1.600e+02, -4.240e+02, -1.010e+02,
       -1.480e+02, -4.300e+02, -6.770e+02, -7.000e+01, -3.550e+02,
       -3.580e+02, -2.880e+02, -4.090e+02, -6.190e+02, -3.590e+02,
       -3.620e+02, -9.400e+01, -2.190e+02, -3.340e+02, -3.210e+02,
       -2.770e+02, -2.500e+02, -9.000e+01, -2.430e+02, -2.550e+02,
       -3.810e+02, -7.600e+01, -1.130e+02, -4.940e+02, -3.380e+02,
       -7.500e+01, -5.190e+02, -1.540e+02, -4.900e+01, -1.430e+02,
       -1.230e+02, -5.060e+02, -4.140e+02, -5.110e+02, -2.450e+02,
       -2.980e+02, -1.220e+02, -3.920e+02, -4.630e+02, -5.100e+01,
       -5.200e+01, -6.400e+01, -4.890e+02, -4.210e+02, -2.420e+02,
       -1.510e+02, -2.720e+02, -3.120e+02, -3.570e+02, -1.610e+02,
       -3.110e+02, -4.600e+02, -4.820e+02, -3.060e+02, -1.350e+02,
       -3.050e+02, -4.800e+01, -3.030e+02, -3.700e+01, -1.630e+02,
       -1.240e+02, -4.080e+02, -4.600e+01, -2.520e+02, -1.560e+02,
       -2.070e+02, -1.410e+02, -2.840e+02, -1.470e+02, -8.800e+01,
       -3.820e+02, -3.800e+02, -6.300e+01, -2.730e+02, -3.020e+02,
       -3.410e+02, -1.620e+02, -9.700e+01, -5.400e+01, -2.590e+02,
       -2.220e+02, -7.200e+01, -2.930e+02, -1.280e+02, -1.870e+02,
       -2.660e+02, -2.640e+02, -4.100e+02, -2.970e+02, -1.000e+02,
       -3.200e+02, -2.290e+02, -3.790e+02, -3.260e+02, -4.540e+02,
       -2.700e+02, -7.100e+01, -3.010e+02, -1.790e+02, -4.750e+02,
       -3.510e+02, -2.350e+02, -1.670e+02, -2.600e+02, -1.640e+02,
       -1.950e+02, -2.680e+02, -3.370e+02, -1.090e+02, -1.060e+02,
       -4.440e+02, -2.620e+02, -2.390e+02, -2.790e+02, -2.810e+02,
       -1.310e+02, -3.630e+02, -4.620e+02, -3.770e+02, -3.690e+02,
       -3.350e+02, -4.770e+02, -2.960e+02, -3.750e+02, -2.800e+02,
       -4.510e+02, -3.420e+02, -3.610e+02, -3.080e+02, -3.670e+02,
       -4.840e+02, -4.410e+02, -3.850e+02, -1.019e+03, -4.010e+02,
       -1.070e+02, -2.940e+02, -2.760e+02, -3.040e+02, -4.430e+02,
       -4.310e+02, -3.950e+02, -3.940e+02, -3.540e+02, -4.160e+02,
       -4.000e+02, -4.670e+02, -7.870e+02, -3.490e+02, -2.990e+02,
       -4.400e+02, -3.320e+02, -2.630e+02, -4.380e+02, -4.070e+02,
       -5.970e+02, -3.530e+02, -4.120e+02, -3.460e+02, -4.680e+02,
       -3.450e+02, -3.000e+02, -5.380e+02, -2.780e+02, -4.720e+02,
       -4.290e+02, -5.160e+02, -4.170e+02, -4.030e+02, -4.490e+02,
       -4.830e+02, -4.660e+02, -4.220e+02, -3.280e+02, -3.720e+02,
       -3.880e+02, -6.050e+02, -7.740e+02, -5.300e+02, -3.220e+02,
       -5.940e+02, -4.350e+02, -4.480e+02, -3.290e+02, -2.610e+02,
       -3.180e+02, -3.170e+02, -3.970e+02, -3.760e+02, -4.390e+02,
       -3.980e+02, -3.710e+02, -4.040e+02, -5.150e+02, -3.100e+02,
       -3.520e+02, -3.740e+02, -2.910e+02, -4.340e+02, -4.320e+02,
       -4.260e+02, -5.140e+02, -4.050e+02, -3.470e+02, -5.340e+02,
       -3.090e+02, -4.280e+02, -3.430e+02, -3.600e+02, -4.550e+02,
       -4.990e+02, -3.910e+02, -3.700e+02, -3.360e+02, -5.760e+02,
       -4.640e+02, -3.270e+02, -7.720e+02, -2.560e+02, -5.260e+02,
       -3.480e+02, -3.390e+02, -3.830e+02, -3.230e+02, -3.400e+02,
       -3.960e+02, -2.510e+02, -4.330e+02, -4.230e+02, -3.190e+02,
       -2.870e+02, -6.890e+02, -1.108e+03, -4.200e+02, -4.790e+02,
       -5.240e+02, -3.930e+02, -3.160e+02, -5.220e+02, -3.560e+02,
       -5.780e+02, -2.820e+02, -3.660e+02, -4.020e+02, -2.750e+02,
       -3.150e+02, -3.900e+02, -3.500e+02, -1.438e+03, -6.640e+02,
       -7.610e+02])

In [216]:
df.loc[65566:65570, ['end_streaming', 's_played', 'start_streaming', 'delta_time', 'reason_start', 'reason_end']]

,end_streaming,s_played,start_streaming,delta_time,reason_start,reason_end
65566,2021-04-28 14:55:39,122,2021-04-28 14:53:37,0.0,trackdone,trackdone
65567,2021-04-28 14:58:52,193,2021-04-28 14:55:39,0.0,trackdone,trackdone
65568,2021-04-28 14:59:20,1466,2021-04-28 14:34:54,-1438.0,trackdone,remote
65569,2021-04-28 15:03:07,254,2021-04-28 14:58:53,-27.0,trackdone,trackdone
65570,2021-04-28 15:06:22,195,2021-04-28 15:03:07,0.0,trackdone,trackdone

#### <span style="background:skyblue"> We threat this erratic data as they are 0 <span>

In [217]:
df.loc[df['delta_time'] < 0, 'delta_time'] = 0.0

### <span style='background :yellow' > Generar Prueba -- saltar canciones, cerrar loco spotify... <span>

# <span style="background:Red">  Delta Time Var and Histograms <span>

# <span style="background:Red">  Delta Time Var and Histograms <span>

# <span style="background:Red">  Delta Time Var and Histograms <span>

### <span style="background:lightgreen"> Time Features <span>

#### <span style="background:skyblue"> Functions <span>

In [218]:
import datetime
Y = 2000 # dummy leap year to allow input X-02-29 (leap day)
seasons = [(3, (datetime.date(Y,  1,  1),  datetime.date(Y,  3, 20))),
           (0, (datetime.date(Y,  3, 21),  datetime.date(Y,  6, 20))),
           (1, (datetime.date(Y,  6, 21),  datetime.date(Y,  9, 22))),
           (2, (datetime.date(Y,  9, 23),  datetime.date(Y, 12, 20))),
           (3, (datetime.date(Y, 12, 21),  datetime.date(Y, 12, 31)))]

def get_season(now):
    if isinstance(now, type(now)):
        now = now.date()
    now = now.replace(year=Y)
    return next(season for season, (start, end) in seasons
                if start <= now <= end)

def time_to_seconds(now):
    return ((now.hour*60 + now.minute)*60 + now.second)

#### <span style="background:skyblue"> Time Features <span>

In [219]:
### Day Features
# Create New Usefull Columns
df['year'] = df['end_streaming'].apply(lambda x : x.year)
df['seasson'] = df['end_streaming'].apply(lambda x : get_season(x))
df['month'] = df['end_streaming'].apply(lambda x : x.month)
df['month_and_year'] = df['end_streaming'].apply(lambda x : (x.year, x.month))
df['month_and_year'] = df['month_and_year'].apply(lambda x: '-'.join(map(str, x)))
df['week'] = df['end_streaming'].apply(lambda x : x.week)
df['day'] = df['end_streaming'].apply(lambda x : x.day)
df['days_to_next_month'] = df['end_streaming'].apply(lambda x : x.days_in_month-x.day)
df['date'] = df['end_streaming'].apply(lambda x : x.date())
df['hour'] = df['end_streaming'].apply(lambda x : x.hour)
df['minute'] = df['end_streaming'].apply(lambda x : x.minute)
df['second'] = df['end_streaming'].apply(lambda x : x.second)
df['time'] = df['end_streaming'].apply(lambda x: x.time())
df['str_time'] = df['time'].apply(lambda x: x.strftime('%H:%M:%S'))
df['time_in_s'] = df['time'].apply(lambda x : time_to_seconds(x))

# Week Days treat as a circle, 0 = Monday is closer to 6 = Sunday than to 3 = Thursday
df['week_day'] = df['end_streaming'].apply(lambda x : x.weekday())

<span style="background:yellow"> About Circular data and about cyclical data ... Cordenadas Circulares </span>


#df['week_day_sin'] = df['week_day'].apply(lambda x: np.sin(x*(2 * np.pi / 7)))

#df['week_day_cos'] = df['week_day'].apply(lambda x: np.cos(x*(2 * np.pi / 7)))

#### <span style="background:skyblue"> Solving anomalies problems <span>

### <span style="background:yellow"> Studing Delta time we get to know there are stop periods really high </span>

Explain about why, what to do and what makes sense

In [220]:
df[df['delta_time'] == 22472086.0]

,platform,master_metadata_track_name,master_metadata_album_artist_name,master_metadata_album_album_name,spotify_track_uri,reason_start,reason_end,is_song,is_podcast,end_streaming,...,day,days_to_next_month,date,hour,minute,second,time,str_time,time_in_s,week_day
56,Phone,Intro to Captain Jack - Live April 1972 At Sig...,Billy Joel,Piano Man (Legacy Edition),spotify:track:1nno3ZNMYJYNrp3hhVtyZ3,clickrow,endplay,1,0,2016-01-28 20:05:11,...,28,3,2016-01-28,20,5,11,20:05:11,20:05:11,72311,3

In [221]:
df.loc[54:58, ['end_streaming', 's_played', 'start_streaming', 'delta_time']]

         end_streaming  s_played     start_streaming  delta_time
54 2015-05-13 17:45:57       207 2015-05-13 17:42:30         0.0
55 2015-05-13 17:50:09       251 2015-05-13 17:45:58         1.0
56 2016-01-28 20:05:11        16 2016-01-28 20:04:55  22472086.0
57 2016-01-28 20:53:19       193 2016-01-28 20:50:06      2695.0
58 2016-01-29 06:10:46        27 2016-01-29 06:10:19     33420.0

In [222]:
month_in_secs = 2628002

In [223]:
df['df_fractured'] = 0
for a in df.index:
    if (df.loc[a, 'delta_time'] >= month_in_secs):
        df.loc[a, 'df_fractured'] = 1

In [224]:
a = df[df['df_fractured'] == 1]
a[['end_streaming', 'delta_time']]

          end_streaming  delta_time
22  2015-05-11 19:30:54   3524879.0
56  2016-01-28 20:05:11  22472086.0
75  2016-08-28 22:41:22  18263718.0
627 2016-10-18 21:00:00   3129837.0
697 2017-03-10 07:32:11   7067416.0

#### <span style="background:skyblue"> Thinking to remove this data <span>

In [225]:
(700*100)/(df.shape[0])

0.8460236886632826

loosing 1% of data is axceptable, and will solve a lot of problems

#### <span style="background:skyblue"> Thinking to generate sparse data during this time <span>

In [226]:
d = []
b = a.index[0]

for c in a.index[1:]:
    d.append(c-b)
    b = c

print(d)
    
print('\n')
e = []
for c in a.index:
    e.append((df.loc[c, 'end_streaming'] - df.loc[c-1, 'end_streaming']).days)
    
print(e)
print('a total of: ', sum(e), 'sparse data will be added. %=', sum(e)*100/int(df.index[-1]))

[34, 19, 552, 70]


[40, 260, 211, 36, 81]
a total of:  628 sparse data will be added. %= 0.7590132827324478

# <span style='background :khaki' > Visualización de los Datos <span>

In [227]:
#sns.pairplot(df)

In [228]:
#sns.boxplot(x, y, data)

In [229]:
#sns.countplot(x, data)

### <span style="background:lightgreen"> Plot Data By Day <span>

In [230]:
#dfi = df.set_index('date', drop=False)
dfi = df.copy()

In [231]:
# Split by Days & Get Index
# ==================================================================================
all_days = dfi['date'].unique()
days_ix = [dfi.loc[dfi['date'] == d].index for d in all_days]
#days_ixº
songs_in_day = [len(days_ix[a]) for a in range(len(days_ix))]

In [232]:
print(np.mean(songs_in_day))
print(np.var(songs_in_day))
print()
print(songs_in_day)

39.99033349444176
801.2700853890232

[8, 7, 7, 7, 7, 20, 2, 2, 15, 22, 148, 32, 25, 29, 77, 20, 38, 39, 51, 12, 5, 35, 1, 18, 1, 1, 11, 10, 4, 8, 21, 14, 1, 3, 1, 10, 66, 123, 63, 45, 56, 36, 73, 18, 76, 49, 89, 22, 58, 25, 9, 54, 43, 33, 49, 19, 20, 13, 26, 21, 76, 41, 78, 5, 4, 21, 24, 26, 15, 48, 44, 35, 41, 83, 52, 67, 73, 110, 29, 129, 115, 62, 60, 32, 32, 56, 11, 65, 73, 63, 53, 45, 85, 49, 22, 67, 15, 24, 28, 20, 25, 29, 24, 33, 1, 11, 25, 35, 6, 28, 21, 59, 18, 80, 2, 28, 15, 7, 17, 33, 6, 87, 45, 6, 38, 61, 25, 50, 30, 18, 29, 74, 109, 12, 16, 6, 33, 43, 10, 82, 54, 77, 18, 20, 8, 5, 38, 28, 24, 10, 53, 38, 1, 64, 52, 35, 17, 144, 18, 14, 21, 32, 11, 87, 129, 142, 25, 51, 25, 57, 30, 84, 151, 112, 26, 24, 23, 35, 10, 64, 60, 46, 61, 37, 16, 33, 56, 38, 30, 27, 27, 20, 32, 34, 32, 39, 27, 25, 10, 37, 99, 41, 8, 38, 17, 36, 38, 64, 15, 13, 23, 9, 39, 28, 97, 25, 17, 16, 24, 82, 18, 76, 64, 25, 47, 36, 48, 39, 80, 130, 39, 37, 28, 42, 65, 66, 5, 7, 34, 35, 32, 65, 15, 8, 156, 86, 65, 100, 85, 44, 54, 40, 50, 58, 23, 27, 98, 22, 13, 6, 38, 14, 51, 63, 24, 39, 57, 70, 20, 22, 100, 93, 18, 40, 70, 34, 71, 9, 128, 103, 78, 50, 75, 36, 133, 21, 146, 41, 101, 66, 63, 72, 53, 14, 29, 64, 118, 48, 67, 13, 5, 23, 17, 37, 13, 20, 16, 40, 37, 21, 65, 76, 46, 39, 5, 30, 26, 56, 81, 69, 14, 59, 42, 35, 57, 35, 44, 91, 31, 26, 42, 49, 51, 44, 42, 35, 24, 33, 38, 32, 58, 30, 29, 47, 22, 50, 66, 30, 82, 95, 37, 55, 33, 63, 64, 41, 38, 51, 29, 36, 37, 80, 24, 78, 58, 51, 11, 39, 39, 83, 30, 18, 18, 46, 54, 45, 15, 28, 32, 30, 57, 79, 59, 95, 50, 90, 65, 68, 149, 37, 21, 11, 37, 46, 25, 42, 47, 7, 25, 27, 18, 23, 37, 31, 2, 36, 37, 17, 45, 47, 25, 30, 28, 42, 72, 17, 53, 48, 14, 37, 89, 43, 38, 88, 79, 27, 45, 59, 62, 39, 59, 21, 22, 36, 11, 11, 25, 35, 24, 8, 27, 33, 30, 45, 78, 17, 5, 38, 37, 14, 59, 52, 27, 13, 62, 23, 22, 39, 55, 25, 52, 24, 85, 42, 5, 12, 11, 17, 10, 49, 13, 119, 23, 10, 25, 23, 32, 10, 10, 72, 41, 9, 21, 8, 24, 27, 32, 47, 18, 39, 43, 34, 36, 36, 12, 42, 62, 130, 129, 150, 125, 47, 123, 148, 121, 10, 6, 27, 16, 27, 10, 28, 40, 84, 44, 20, 33, 13, 81, 45, 48, 36, 128, 43, 30, 4, 24, 14, 9, 44, 19, 30, 27, 17, 109, 4, 44, 33, 18, 78, 30, 45, 20, 12, 37, 8, 11, 4, 40, 30, 9, 33, 35, 45, 30, 16, 45, 37, 6, 32, 20, 30, 72, 40, 21, 39, 35, 29, 17, 55, 17, 27, 19, 27, 26, 38, 22, 14, 26, 13, 51, 47, 24, 39, 22, 51, 39, 52, 53, 72, 33, 74, 42, 58, 30, 23, 100, 15, 29, 41, 40, 21, 23, 24, 51, 21, 36, 36, 26, 24, 10, 28, 28, 34, 46, 16, 17, 31, 4, 21, 23, 34, 62, 30, 88, 18, 32, 36, 41, 21, 58, 39, 16, 43, 60, 10, 23, 13, 7, 11, 51, 49, 82, 40, 82, 35, 21, 53, 45, 68, 47, 83, 21, 10, 22, 54, 47, 36, 52, 13, 9, 21, 53, 42, 53, 6, 9, 25, 11, 48, 42, 62, 73, 11, 18, 30, 96, 33, 21, 21, 16, 57, 27, 22, 23, 87, 33, 89, 8, 17, 82, 44, 44, 71, 31, 44, 42, 28, 36, 32, 72, 31, 55, 17, 53, 48, 52, 52, 53, 44, 43, 17, 51, 49, 63, 57, 20, 24, 24, 40, 52, 57, 22, 42, 55, 31, 55, 57, 57, 29, 42, 36, 20, 54, 47, 36, 58, 28, 16, 18, 50, 59, 45, 26, 46, 47, 49, 43, 59, 43, 59, 30, 47, 36, 47, 63, 57, 54, 35, 40, 23, 59, 84, 42, 36, 36, 58, 70, 40, 65, 51, 36, 45, 86, 49, 55, 37, 60, 69, 86, 46, 34, 55, 52, 46, 47, 27, 41, 58, 45, 47, 90, 65, 31, 27, 54, 65, 62, 103, 116, 69, 69, 53, 52, 89, 31, 56, 52, 57, 85, 45, 29, 93, 27, 20, 111, 58, 61, 79, 47, 79, 105, 24, 42, 40, 78, 58, 41, 20, 31, 30, 56, 22, 40, 24, 9, 20, 29, 41, 35, 21, 63, 83, 19, 29, 21, 85, 14, 52, 23, 29, 34, 28, 105, 46, 4, 3, 38, 13, 4, 48, 51, 20, 46, 34, 24, 21, 28, 25, 41, 48, 40, 71, 26, 75, 39, 38, 147, 25, 42, 45, 24, 36, 34, 36, 8, 44, 62, 53, 33, 64, 58, 41, 11, 29, 57, 52, 50, 12, 66, 43, 50, 27, 23, 33, 101, 172, 31, 16, 26, 39, 37, 38, 31, 46, 33, 43, 65, 59, 21, 41, 15, 17, 31, 78, 38, 15, 82, 24, 18, 40, 60, 58, 24, 40, 55, 29, 29, 32, 30, 21, 30, 24, 57, 48, 40, 40, 16, 30, 37, 18, 21, 72, 30, 34, 24, 23, 13, 35, 64, 67, 49, 22, 60, 19, 30, 59, 56, 46, 53, 48, 6, 43, 86, 31, 23, 58, 21, 43, 45, 40, 25, 15, 43, 21, 15, 71, 70, 65, 59, 35, 61, 22, 92, 73, 63, 46, 55, 55, 14, 30, 43, 68, 36, 86, 73, 15, 52, 31, 84, 49, 129, 64, 57, 32, 24, 64, 53, 93, 22, 50, 54, 26, 24, 95, 56, 57, 42, 13, 61, 23, 151, 38, 95, 78, 75, 34, 32, 70, 68, 22, 37, 61, 28, 43, 51, 48, 56, 48, 46, 97, 70, 20, 69, 52, 70, 51, 54, 64, 47, 12, 50, 11, 31, 47, 26, 37, 66, 29, 19, 42, 29, 23, 37, 68, 32, 26, 63, 68, 42, 47, 50, 47, 9, 48, 42, 55, 50, 59, 57, 51, 51, 62, 69, 46, 42, 8, 8, 6, 4, 12, 10, 21, 11, 7, 29, 7, 39, 10, 24, 29, 25, 19, 16, 48, 48, 31, 37, 62, 60, 47, 117, 24, 32, 59, 45, 47, 5, 34, 10, 14, 27, 41, 32, 25, 36, 41, 57, 42, 58, 53, 33, 61, 19, 60, 59, 106, 48, 55, 47, 48, 33, 50, 66, 93, 73, 57, 48, 34, 41, 39, 30, 64, 61, 36, 66, 46, 13, 64, 80, 67, 23, 43, 22, 66, 57, 77, 32, 119, 166, 69, 94, 73, 67, 44, 74, 82, 70, 71, 49, 27, 166, 67, 52, 25, 91, 67, 102, 68, 67, 33, 41, 67, 88, 83, 48, 105, 119, 52, 32, 39, 91, 50, 135, 207, 49, 57, 43, 56, 49, 121, 70, 96, 25, 83, 44, 78, 170, 29, 87, 76, 87, 53, 35, 14, 111, 85, 82, 80, 94, 106, 77, 126, 120, 36, 69, 18, 54, 54, 4, 18, 48, 43, 37, 154, 53, 107, 94, 43, 14, 111, 35, 21, 1, 28, 65, 82, 54, 66, 74, 118, 177, 72, 52, 60, 65, 39, 34, 96, 84, 87, 100, 75, 11, 107, 113, 18, 33, 51, 23, 42, 48, 1, 35, 62, 52, 83, 36, 28, 120, 51, 43, 68, 53, 50, 103, 23, 23, 30, 26, 64, 65, 56, 73, 38, 46, 66, 23, 27, 35, 95, 8, 33, 38, 43, 23, 57, 14, 54, 11, 30, 36, 47, 15, 31, 12, 31, 77, 47, 34, 46, 48, 36, 36, 23, 45, 11, 21, 29, 13, 36, 33, 33, 39, 12, 34, 20, 54, 31, 45, 41, 13, 78, 22, 7, 18, 41, 15, 31, 24, 14, 36, 33, 54, 12, 32, 19, 30, 43, 58, 30, 28, 21, 31, 90, 50, 16, 18, 7, 24, 86, 19, 27, 18, 18, 17, 15, 11, 11, 34, 44, 15, 59, 17, 95, 11, 71, 84, 44, 43, 50, 37, 9, 50, 82, 39, 60, 85, 25, 36, 57, 58, 45, 39, 22, 57, 10, 63, 44, 27, 31, 44, 23, 13, 32, 27, 66, 19, 34, 53, 12, 36, 36, 1, 31, 22, 47, 25, 42, 56, 36, 35, 4, 41, 11, 29, 18, 64, 24, 20, 36, 16, 26, 37, 19, 25, 26, 16, 27, 64, 19, 38, 20, 68, 6, 43, 53, 31, 39, 68, 46, 45, 6, 13, 56, 23, 18, 27, 112, 8, 23, 54, 56, 9, 34, 95, 25, 13, 31, 19, 22, 22, 36, 3, 24, 21, 51, 31, 73, 75, 12, 11, 47, 40, 54, 6, 79, 5, 55, 16, 17, 23, 44, 44, 8, 21, 17, 44, 39, 16, 72, 3, 51, 31, 22, 34, 97, 61, 7, 85, 40, 101, 39, 90, 36, 35, 26, 55, 18, 40, 41, 60, 54, 8, 9, 21, 12, 6, 9, 43, 50, 23, 78, 30, 63, 164, 73, 33, 10, 18, 44, 45, 21, 27, 31, 35, 23, 34, 45, 10, 10, 12, 39, 33, 24, 40, 147, 19, 16, 30, 7, 16, 36, 57, 20, 22, 23, 86, 83, 63, 59, 12, 9, 9, 8, 12, 60, 87, 29, 54, 23, 84, 54, 33, 2, 5, 30, 42, 29, 9, 46, 80, 36, 1, 21, 10, 34, 16, 16, 17, 17, 34, 12, 9, 29, 1, 14, 43, 89, 1, 21, 11, 3, 31, 34, 61, 17, 18, 11, 19, 12, 5, 18, 8, 44, 11, 15, 8, 62, 43, 16, 20, 6, 15, 9, 22, 190, 61, 109, 47, 20, 22, 38, 40, 10, 5, 10, 34, 17, 25, 64, 19, 28, 31, 30, 43, 9, 20, 23, 47, 10, 17, 13, 16, 32, 11, 45, 16, 13, 9, 59, 43, 18, 40, 37, 30, 39, 12, 43, 23, 23, 38, 44, 19, 8, 74, 32, 28, 43, 23, 15, 80, 52, 35, 56, 38, 55, 24, 53, 29, 35, 47, 29, 7, 18, 39, 61, 56, 42, 31, 35, 32, 37, 34, 25, 35, 24, 38, 21, 30, 46, 15, 66, 25, 77, 13, 25, 14, 45, 24, 40, 10, 86, 101, 47, 30, 38, 52, 6, 21, 59, 16, 98, 75, 34, 4, 22, 28, 34, 25, 16, 27, 12, 26, 11, 51, 13, 40, 24, 32, 71, 30, 50, 50, 43, 53, 32, 34, 50, 5, 9, 35, 24, 47, 6, 39, 2, 54, 34, 24, 56, 52, 47, 23, 30, 32, 32, 66, 46, 18, 50, 36, 66, 25, 52, 31, 49, 34, 17, 29, 16, 5, 8, 21, 63, 54, 54, 33, 90, 60, 26, 54, 21, 31, 41, 43, 20, 13, 33, 72, 19, 35, 44, 90, 3, 6, 38, 26, 11, 6, 9, 41, 32, 54, 79, 112, 12, 44, 10, 4, 40, 27, 34, 25, 23, 13, 30, 13, 22, 43, 48, 43, 12, 2, 21, 18, 68, 5, 15, 25, 19, 28, 33, 14, 70, 8, 19, 37, 23, 6, 30, 28, 20, 3, 6, 37, 34, 21, 36, 84, 9, 44, 30, 11, 84, 11, 17, 1, 25, 10, 6, 22, 37, 34, 24, 15, 9, 4, 29, 40, 41, 13, 31, 13, 10, 1, 13, 17, 5, 35, 48, 34, 13, 25, 13, 15, 8, 19, 25, 9, 7, 11, 8, 5, 54, 6, 23, 9, 5, 17, 27, 31, 29, 23, 11, 41, 38, 49, 26, 31, 6, 7, 6, 9, 21, 45, 12, 7, 1, 20, 18, 82, 1, 6, 20, 9, 12, 11, 27, 5, 22, 16, 14, 7, 43, 247, 21, 1, 18, 6, 7, 24, 7, 7, 5, 2, 1, 10, 34, 17, 14, 64, 29, 33, 48, 15, 98, 8, 25, 36, 16, 15, 10, 6, 136, 1, 7, 3, 29, 21, 44, 2, 15, 16, 14, 16, 3, 28, 5, 15, 9, 19, 19, 18, 6, 9, 15, 16, 15, 62, 10, 83, 28, 15, 7, 14, 1, 65, 12, 2, 1, 29, 4, 16, 9, 7, 25, 21, 19]

In [233]:
# Plot number of songs listened each day
plt.plot(all_days, songs_in_day)

#### <span style="background:skyblue"> Solving Unconsistency problem talked about too many time withouht litening <span>

In [ ]:
for a in dfi['month_and_year'].unique():
    print(dfi[dfi['month_and_year'] == a].shape[0])

In [ ]:
dfi['month_and_year'].unique()

In [ ]:
for a, i in zip(dfi['month_and_year'].unique(), range(len(dfi['month_and_year'].unique()))):
    if(i < 9):
        dfi.drop(dfi.loc[dfi['month_and_year'] == a].index, inplace=True)

In [ ]:
dfi['month_and_year'].unique()

In [ ]:
dfi.reset_index(inplace=True, drop=True)

#### <span style="background:skyblue"> Plot Data By Day - Numbers <span>

In [ ]:
# Split by Days & Get Index
# ==================================================================================
all_days = dfi['date'].unique()
days_ix = [dfi.loc[dfi['date'] == d].index for d in all_days]
#days_ixº
songs_in_day = [len(days_ix[a]) for a in range(len(days_ix))]

In [ ]:
for i in days_ix[:4]:
    dfi.drop(i, inplace = True, axis = 0)
    
dfi.reset_index(inplace=True, drop=True)

In [ ]:
df.loc[0,'delta_time'] = 0.0

In [ ]:
# Split by Days & Get Index
# ==================================================================================
all_days = dfi['date'].unique()
days_ix = [dfi.loc[dfi['date'] == d].index for d in all_days]
#days_ixº
songs_in_day = [len(days_ix[a]) for a in range(len(days_ix))]

In [235]:
print(np.mean(songs_in_day))
print(np.var(songs_in_day))
print(songs_in_day)

39.99033349444176
801.2700853890232
[8, 7, 7, 7, 7, 20, 2, 2, 15, 22, 148, 32, 25, 29, 77, 20, 38, 39, 51, 12, 5, 35, 1, 18, 1, 1, 11, 10, 4, 8, 21, 14, 1, 3, 1, 10, 66, 123, 63, 45, 56, 36, 73, 18, 76, 49, 89, 22, 58, 25, 9, 54, 43, 33, 49, 19, 20, 13, 26, 21, 76, 41, 78, 5, 4, 21, 24, 26, 15, 48, 44, 35, 41, 83, 52, 67, 73, 110, 29, 129, 115, 62, 60, 32, 32, 56, 11, 65, 73, 63, 53, 45, 85, 49, 22, 67, 15, 24, 28, 20, 25, 29, 24, 33, 1, 11, 25, 35, 6, 28, 21, 59, 18, 80, 2, 28, 15, 7, 17, 33, 6, 87, 45, 6, 38, 61, 25, 50, 30, 18, 29, 74, 109, 12, 16, 6, 33, 43, 10, 82, 54, 77, 18, 20, 8, 5, 38, 28, 24, 10, 53, 38, 1, 64, 52, 35, 17, 144, 18, 14, 21, 32, 11, 87, 129, 142, 25, 51, 25, 57, 30, 84, 151, 112, 26, 24, 23, 35, 10, 64, 60, 46, 61, 37, 16, 33, 56, 38, 30, 27, 27, 20, 32, 34, 32, 39, 27, 25, 10, 37, 99, 41, 8, 38, 17, 36, 38, 64, 15, 13, 23, 9, 39, 28, 97, 25, 17, 16, 24, 82, 18, 76, 64, 25, 47, 36, 48, 39, 80, 130, 39, 37, 28, 42, 65, 66, 5, 7, 34, 35, 32, 65, 15, 8, 156, 86, 65, 100, 85, 44, 54, 40, 50, 58, 23, 27, 98, 22, 13, 6, 38, 14, 51, 63, 24, 39, 57, 70, 20, 22, 100, 93, 18, 40, 70, 34, 71, 9, 128, 103, 78, 50, 75, 36, 133, 21, 146, 41, 101, 66, 63, 72, 53, 14, 29, 64, 118, 48, 67, 13, 5, 23, 17, 37, 13, 20, 16, 40, 37, 21, 65, 76, 46, 39, 5, 30, 26, 56, 81, 69, 14, 59, 42, 35, 57, 35, 44, 91, 31, 26, 42, 49, 51, 44, 42, 35, 24, 33, 38, 32, 58, 30, 29, 47, 22, 50, 66, 30, 82, 95, 37, 55, 33, 63, 64, 41, 38, 51, 29, 36, 37, 80, 24, 78, 58, 51, 11, 39, 39, 83, 30, 18, 18, 46, 54, 45, 15, 28, 32, 30, 57, 79, 59, 95, 50, 90, 65, 68, 149, 37, 21, 11, 37, 46, 25, 42, 47, 7, 25, 27, 18, 23, 37, 31, 2, 36, 37, 17, 45, 47, 25, 30, 28, 42, 72, 17, 53, 48, 14, 37, 89, 43, 38, 88, 79, 27, 45, 59, 62, 39, 59, 21, 22, 36, 11, 11, 25, 35, 24, 8, 27, 33, 30, 45, 78, 17, 5, 38, 37, 14, 59, 52, 27, 13, 62, 23, 22, 39, 55, 25, 52, 24, 85, 42, 5, 12, 11, 17, 10, 49, 13, 119, 23, 10, 25, 23, 32, 10, 10, 72, 41, 9, 21, 8, 24, 27, 32, 47, 18, 39, 43, 34, 36, 36, 12, 42, 62, 130, 129, 150, 125, 47, 123, 148, 121, 10, 6, 27, 16, 27, 10, 28, 40, 84, 44, 20, 33, 13, 81, 45, 48, 36, 128, 43, 30, 4, 24, 14, 9, 44, 19, 30, 27, 17, 109, 4, 44, 33, 18, 78, 30, 45, 20, 12, 37, 8, 11, 4, 40, 30, 9, 33, 35, 45, 30, 16, 45, 37, 6, 32, 20, 30, 72, 40, 21, 39, 35, 29, 17, 55, 17, 27, 19, 27, 26, 38, 22, 14, 26, 13, 51, 47, 24, 39, 22, 51, 39, 52, 53, 72, 33, 74, 42, 58, 30, 23, 100, 15, 29, 41, 40, 21, 23, 24, 51, 21, 36, 36, 26, 24, 10, 28, 28, 34, 46, 16, 17, 31, 4, 21, 23, 34, 62, 30, 88, 18, 32, 36, 41, 21, 58, 39, 16, 43, 60, 10, 23, 13, 7, 11, 51, 49, 82, 40, 82, 35, 21, 53, 45, 68, 47, 83, 21, 10, 22, 54, 47, 36, 52, 13, 9, 21, 53, 42, 53, 6, 9, 25, 11, 48, 42, 62, 73, 11, 18, 30, 96, 33, 21, 21, 16, 57, 27, 22, 23, 87, 33, 89, 8, 17, 82, 44, 44, 71, 31, 44, 42, 28, 36, 32, 72, 31, 55, 17, 53, 48, 52, 52, 53, 44, 43, 17, 51, 49, 63, 57, 20, 24, 24, 40, 52, 57, 22, 42, 55, 31, 55, 57, 57, 29, 42, 36, 20, 54, 47, 36, 58, 28, 16, 18, 50, 59, 45, 26, 46, 47, 49, 43, 59, 43, 59, 30, 47, 36, 47, 63, 57, 54, 35, 40, 23, 59, 84, 42, 36, 36, 58, 70, 40, 65, 51, 36, 45, 86, 49, 55, 37, 60, 69, 86, 46, 34, 55, 52, 46, 47, 27, 41, 58, 45, 47, 90, 65, 31, 27, 54, 65, 62, 103, 116, 69, 69, 53, 52, 89, 31, 56, 52, 57, 85, 45, 29, 93, 27, 20, 111, 58, 61, 79, 47, 79, 105, 24, 42, 40, 78, 58, 41, 20, 31, 30, 56, 22, 40, 24, 9, 20, 29, 41, 35, 21, 63, 83, 19, 29, 21, 85, 14, 52, 23, 29, 34, 28, 105, 46, 4, 3, 38, 13, 4, 48, 51, 20, 46, 34, 24, 21, 28, 25, 41, 48, 40, 71, 26, 75, 39, 38, 147, 25, 42, 45, 24, 36, 34, 36, 8, 44, 62, 53, 33, 64, 58, 41, 11, 29, 57, 52, 50, 12, 66, 43, 50, 27, 23, 33, 101, 172, 31, 16, 26, 39, 37, 38, 31, 46, 33, 43, 65, 59, 21, 41, 15, 17, 31, 78, 38, 15, 82, 24, 18, 40, 60, 58, 24, 40, 55, 29, 29, 32, 30, 21, 30, 24, 57, 48, 40, 40, 16, 30, 37, 18, 21, 72, 30, 34, 24, 23, 13, 35, 64, 67, 49, 22, 60, 19, 30, 59, 56, 46, 53, 48, 6, 43, 86, 31, 23, 58, 21, 43, 45, 40, 25, 15, 43, 21, 15, 71, 70, 65, 59, 35, 61, 22, 92, 73, 63, 46, 55, 55, 14, 30, 43, 68, 36, 86, 73, 15, 52, 31, 84, 49, 129, 64, 57, 32, 24, 64, 53, 93, 22, 50, 54, 26, 24, 95, 56, 57, 42, 13, 61, 23, 151, 38, 95, 78, 75, 34, 32, 70, 68, 22, 37, 61, 28, 43, 51, 48, 56, 48, 46, 97, 70, 20, 69, 52, 70, 51, 54, 64, 47, 12, 50, 11, 31, 47, 26, 37, 66, 29, 19, 42, 29, 23, 37, 68, 32, 26, 63, 68, 42, 47, 50, 47, 9, 48, 42, 55, 50, 59, 57, 51, 51, 62, 69, 46, 42, 8, 8, 6, 4, 12, 10, 21, 11, 7, 29, 7, 39, 10, 24, 29, 25, 19, 16, 48, 48, 31, 37, 62, 60, 47, 117, 24, 32, 59, 45, 47, 5, 34, 10, 14, 27, 41, 32, 25, 36, 41, 57, 42, 58, 53, 33, 61, 19, 60, 59, 106, 48, 55, 47, 48, 33, 50, 66, 93, 73, 57, 48, 34, 41, 39, 30, 64, 61, 36, 66, 46, 13, 64, 80, 67, 23, 43, 22, 66, 57, 77, 32, 119, 166, 69, 94, 73, 67, 44, 74, 82, 70, 71, 49, 27, 166, 67, 52, 25, 91, 67, 102, 68, 67, 33, 41, 67, 88, 83, 48, 105, 119, 52, 32, 39, 91, 50, 135, 207, 49, 57, 43, 56, 49, 121, 70, 96, 25, 83, 44, 78, 170, 29, 87, 76, 87, 53, 35, 14, 111, 85, 82, 80, 94, 106, 77, 126, 120, 36, 69, 18, 54, 54, 4, 18, 48, 43, 37, 154, 53, 107, 94, 43, 14, 111, 35, 21, 1, 28, 65, 82, 54, 66, 74, 118, 177, 72, 52, 60, 65, 39, 34, 96, 84, 87, 100, 75, 11, 107, 113, 18, 33, 51, 23, 42, 48, 1, 35, 62, 52, 83, 36, 28, 120, 51, 43, 68, 53, 50, 103, 23, 23, 30, 26, 64, 65, 56, 73, 38, 46, 66, 23, 27, 35, 95, 8, 33, 38, 43, 23, 57, 14, 54, 11, 30, 36, 47, 15, 31, 12, 31, 77, 47, 34, 46, 48, 36, 36, 23, 45, 11, 21, 29, 13, 36, 33, 33, 39, 12, 34, 20, 54, 31, 45, 41, 13, 78, 22, 7, 18, 41, 15, 31, 24, 14, 36, 33, 54, 12, 32, 19, 30, 43, 58, 30, 28, 21, 31, 90, 50, 16, 18, 7, 24, 86, 19, 27, 18, 18, 17, 15, 11, 11, 34, 44, 15, 59, 17, 95, 11, 71, 84, 44, 43, 50, 37, 9, 50, 82, 39, 60, 85, 25, 36, 57, 58, 45, 39, 22, 57, 10, 63, 44, 27, 31, 44, 23, 13, 32, 27, 66, 19, 34, 53, 12, 36, 36, 1, 31, 22, 47, 25, 42, 56, 36, 35, 4, 41, 11, 29, 18, 64, 24, 20, 36, 16, 26, 37, 19, 25, 26, 16, 27, 64, 19, 38, 20, 68, 6, 43, 53, 31, 39, 68, 46, 45, 6, 13, 56, 23, 18, 27, 112, 8, 23, 54, 56, 9, 34, 95, 25, 13, 31, 19, 22, 22, 36, 3, 24, 21, 51, 31, 73, 75, 12, 11, 47, 40, 54, 6, 79, 5, 55, 16, 17, 23, 44, 44, 8, 21, 17, 44, 39, 16, 72, 3, 51, 31, 22, 34, 97, 61, 7, 85, 40, 101, 39, 90, 36, 35, 26, 55, 18, 40, 41, 60, 54, 8, 9, 21, 12, 6, 9, 43, 50, 23, 78, 30, 63, 164, 73, 33, 10, 18, 44, 45, 21, 27, 31, 35, 23, 34, 45, 10, 10, 12, 39, 33, 24, 40, 147, 19, 16, 30, 7, 16, 36, 57, 20, 22, 23, 86, 83, 63, 59, 12, 9, 9, 8, 12, 60, 87, 29, 54, 23, 84, 54, 33, 2, 5, 30, 42, 29, 9, 46, 80, 36, 1, 21, 10, 34, 16, 16, 17, 17, 34, 12, 9, 29, 1, 14, 43, 89, 1, 21, 11, 3, 31, 34, 61, 17, 18, 11, 19, 12, 5, 18, 8, 44, 11, 15, 8, 62, 43, 16, 20, 6, 15, 9, 22, 190, 61, 109, 47, 20, 22, 38, 40, 10, 5, 10, 34, 17, 25, 64, 19, 28, 31, 30, 43, 9, 20, 23, 47, 10, 17, 13, 16, 32, 11, 45, 16, 13, 9, 59, 43, 18, 40, 37, 30, 39, 12, 43, 23, 23, 38, 44, 19, 8, 74, 32, 28, 43, 23, 15, 80, 52, 35, 56, 38, 55, 24, 53, 29, 35, 47, 29, 7, 18, 39, 61, 56, 42, 31, 35, 32, 37, 34, 25, 35, 24, 38, 21, 30, 46, 15, 66, 25, 77, 13, 25, 14, 45, 24, 40, 10, 86, 101, 47, 30, 38, 52, 6, 21, 59, 16, 98, 75, 34, 4, 22, 28, 34, 25, 16, 27, 12, 26, 11, 51, 13, 40, 24, 32, 71, 30, 50, 50, 43, 53, 32, 34, 50, 5, 9, 35, 24, 47, 6, 39, 2, 54, 34, 24, 56, 52, 47, 23, 30, 32, 32, 66, 46, 18, 50, 36, 66, 25, 52, 31, 49, 34, 17, 29, 16, 5, 8, 21, 63, 54, 54, 33, 90, 60, 26, 54, 21, 31, 41, 43, 20, 13, 33, 72, 19, 35, 44, 90, 3, 6, 38, 26, 11, 6, 9, 41, 32, 54, 79, 112, 12, 44, 10, 4, 40, 27, 34, 25, 23, 13, 30, 13, 22, 43, 48, 43, 12, 2, 21, 18, 68, 5, 15, 25, 19, 28, 33, 14, 70, 8, 19, 37, 23, 6, 30, 28, 20, 3, 6, 37, 34, 21, 36, 84, 9, 44, 30, 11, 84, 11, 17, 1, 25, 10, 6, 22, 37, 34, 24, 15, 9, 4, 29, 40, 41, 13, 31, 13, 10, 1, 13, 17, 5, 35, 48, 34, 13, 25, 13, 15, 8, 19, 25, 9, 7, 11, 8, 5, 54, 6, 23, 9, 5, 17, 27, 31, 29, 23, 11, 41, 38, 49, 26, 31, 6, 7, 6, 9, 21, 45, 12, 7, 1, 20, 18, 82, 1, 6, 20, 9, 12, 11, 27, 5, 22, 16, 14, 7, 43, 247, 21, 1, 18, 6, 7, 24, 7, 7, 5, 2, 1, 10, 34, 17, 14, 64, 29, 33, 48, 15, 98, 8, 25, 36, 16, 15, 10, 6, 136, 1, 7, 3, 29, 21, 44, 2, 15, 16, 14, 16, 3, 28, 5, 15, 9, 19, 19, 18, 6, 9, 15, 16, 15, 62, 10, 83, 28, 15, 7, 14, 1, 65, 12, 2, 1, 29, 4, 16, 9, 7, 25, 21, 19]

In [236]:
# Plot number of songs listened each day
plt.plot(all_days, songs_in_day)

#### <span style="background:skyblue"> Plot Data By Day - Delta Time <span>

<span style="background:violet"> 3 Days <span>

In [238]:
figure_0, axis_0 = plt.subplots(1, 2, figsize=(12, 4))
axis_0[0].plot(dfi.loc[days_ix[230], 'hour'], dfi.loc[days_ix[230], 'delta_time'], label='MaxDay')
axis_0[0].plot(dfi.loc[days_ix[229], 'hour'], dfi.loc[days_ix[229], 'delta_time'], label='Max-1', color='r')
axis_0[0].plot(dfi.loc[days_ix[231], 'hour'], dfi.loc[days_ix[231], 'delta_time'], label='Max+1', color='g')
axis_0[0].set_title("All Deltas by Hour")

axis_0[1].plot(dfi.loc[days_ix[230], 'delta_time'], label='MaxDay')
axis_0[1].plot(dfi.loc[days_ix[229], 'delta_time'], label='Max-1', color='r')
axis_0[1].plot(dfi.loc[days_ix[231], 'delta_time'], label='Max+1', color='g')
axis_0[1].set_title("All Deltas by Index")

plt.plot()


figure_1, axis_1 = plt.subplots(2, 2, figsize=(12, 8))
axis_1[0, 0].plot(dfi.loc[days_ix[230], 'hour'], dfi.loc[days_ix[230], 'delta_time'], label='MaxDay-Hour')
axis_1[1, 0].plot(dfi.loc[days_ix[229], 'hour'], dfi.loc[days_ix[229], 'delta_time'], label='Max-1-Hour', color='r')
axis_1[2, 0].plot(dfi.loc[days_ix[231], 'hour'], dfi.loc[days_ix[231], 'delta_time'], label='Max+1-Hour', color='g')

axis_1[0, 1].plot(dfi.loc[days_ix[230], 'delta_time'], label='MaxDay-Index')
axis_1[1, 1].plot(dfi.loc[days_ix[229], 'delta_time'], label='Max-1-Index', color='r')
axis_1[2, 1].plot(dfi.loc[days_ix[231], 'delta_time'], label='Max+1-Index', color='g')

plt.plot()

[]

In [239]:
dfi.loc[days_ix[2], 'delta_time']

15    272.0
16      1.0
17     25.0
18      4.0
19      0.0
20      1.0
21      0.0
Name: delta_time, dtype: float64

In [241]:
dfi[['end_streaming', 'delta_time']].head(2)

        end_streaming  delta_time
0 2015-03-24 10:01:05         0.0
1 2015-03-24 10:01:39         0.0

<span style="background:violet"> All of them <span>

In [243]:
# Plot of delta time during the days

#for i in range(len(all_days)):
for i in range(10):
    #plt.ylim(0, 1100000)
    plt.ylim(0, 100000)
    plt.plot(dfi.loc[days_ix[i], 'time_in_s'], dfi.loc[days_ix[i], 'delta_time'])

### <span style="background:lightgreen"> Plot Data By Month <span>

#### <span style="background:skyblue"> Plot Data By Month - Numbers <span>

In [244]:
# Split by Month
# ==================================================================================
all_months = dfi['month_and_year'].unique()
month_ix = [dfi.loc[dfi['month_and_year'] == m].index for m in all_months]
#month_ix
songs_in_month = [len(month_ix[a]) for a in range(len(month_ix))]

In [245]:
print(songs_in_month)

[15, 7, 34, 19, 227, 325, 2, 33, 35, 15, 1039, 1554, 918, 1102, 1521, 1107, 1294, 1445, 1954, 1198, 1268, 1601, 947, 1204, 1003, 1559, 1222, 825, 1168, 919, 1163, 1203, 1201, 1316, 1546, 1811, 1394, 885, 1409, 1290, 1150, 1269, 1655, 1708, 1240, 926, 1245, 1638, 2188, 2311, 1959, 1932, 1458, 994, 988, 1236, 974, 989, 1064, 1136, 1285, 1098, 894, 629, 1088, 882, 1136, 1192, 870, 1103, 1165, 792, 698, 571, 619, 755, 649, 476]

In [246]:
plt.plot(all_months, songs_in_month)

In [247]:
dfi[dfi['month_and_year'] == '2022-11']

,platform,master_metadata_track_name,master_metadata_album_artist_name,master_metadata_album_album_name,spotify_track_uri,reason_start,reason_end,is_song,is_podcast,end_streaming,...,days_to_next_month,date,hour,minute,second,time,str_time,time_in_s,week_day,df_fractured
82264,Phone,Robot Dreams,Natural Language,MASA 003,spotify:track:61DifHIcN8BsiT2s6E2BWN,appload,logout,1,0,2022-11-01 12:40:48,...,29,2022-11-01,12,40,48,12:40:48,12:40:48,45648,1,0
82265,Phone,Tweakers,Gloosito,Tweakers,spotify:track:3w1SQ3igMnsldOANBo5dqm,playbtn,trackdone,1,0,2022-11-01 12:43:21,...,29,2022-11-01,12,43,21,12:43:21,12:43:21,45801,1,0
82266,Phone,Me Gustaron Tus Nai,Soto Asa,Down Music,spotify:track:2LXUOXihEoNt7aYYu5XjZ6,playbtn,trackdone,1,0,2022-11-01 12:48:42,...,29,2022-11-01,12,48,42,12:48:42,12:48:42,46122,1,0
82267,Phone,New Barcelona,Holics,Holics Tape,spotify:track:2ZEXLSjvNqrhJ97PhW60tf,trackdone,trackdone,1,0,2022-11-01 12:50:31,...,29,2022-11-01,12,50,31,12:50:31,12:50:31,46231,1,0
82268,Phone,Talking Shit,Gloosito,Talking Shit,spotify:track:1qrZAt4QbKwA25aA9ipfTb,trackdone,trackdone,1,0,2022-11-01 12:51:46,...,29,2022-11-01,12,51,46,12:51:46,12:51:46,46306,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82735,Phone,mwah :3,rusowsky,mwah :3,spotify:track:3PIECzRdxCWyAz6Poe4Rcp,trackdone,trackdone,1,0,2022-11-24 22:13:20,...,6,2022-11-24,22,13,20,22:13:20,22:13:20,80000,3,0
82736,Phone,Tangos De Copera,La Plazuela,Tangos De Copera,spotify:track:4b6lJbPHnWpueU3ek8rUJP,trackdone,endplay,1,0,2022-11-24 22:15:38,...,6,2022-11-24,22,15,38,22:15:38,22:15:38,80138,3,0
82737,Phone,je suis,GAZZI,je suis,spotify:track:0VND0Hye2brqMEjQ7Pa8DG,clickrow,trackdone,1,0,2022-11-24 22:20:21,...,6,2022-11-24,22,20,21,22:20:21,22:20:21,80421,3,0
82738,Phone,mwah :3,rusowsky,mwah :3,spotify:track:3PIECzRdxCWyAz6Poe4Rcp,clickrow,trackdone,1,0,2022-11-24 22:22:38,...,6,2022-11-24,22,22,38,22:22:38,22:22:38,80558,3,0
82739,Phone,Tangos De Copera,La Plazuela,Tangos De Copera,spotify:track:4b6lJbPHnWpueU3ek8rUJP,trackdone,trackdone,1,0,2022-11-24 22:27:00,...,6,2022-11-24,22,27,0,22:27:00,22:27:00,80820,3,0

#### <span style="background:skyblue"> Plot Data By Month - DeltaTime <span>

<span style="background:violet"> 3 Months <span>

In [248]:
figure_0, axis_0 = plt.subplots(1, 2, figsize=(12, 4))
axis_0[0].plot(dfi.loc[month_ix[1], 'day'], dfi.loc[month_ix[1], 'delta_time'], label='MaxMonth')
axis_0[0].plot(dfi.loc[month_ix[0], 'day'], dfi.loc[month_ix[0], 'delta_time'], label='Max-1', color='r')
axis_0[0].plot(dfi.loc[month_ix[2], 'day'], dfi.loc[month_ix[2], 'delta_time'], label='Max+1', color='g')
axis_0[0].set_title("All Deltas by Month")

axis_0[1].plot(dfi.loc[month_ix[1], 'delta_time'], label='MaxMonth')
axis_0[1].plot(dfi.loc[month_ix[0], 'delta_time'], label='Max-1', color='r')
axis_0[1].plot(dfi.loc[month_ix[2], 'delta_time'], label='Max+1', color='g')
axis_0[1].set_title("All Deltas by Index")

plt.plot()

figure_1, axis_1 = plt.subplots(3, 2, figsize=(12, 8))
axis_1[0, 0].plot(dfi.loc[month_ix[1], 'day'], dfi.loc[month_ix[1], 'delta_time'], label='MaxMonth')
axis_1[0, 1].plot(dfi.loc[month_ix[1], 'delta_time'], label='MaxMonth')
axis_1[1, 0].plot(dfi.loc[month_ix[0], 'day'], dfi.loc[month_ix[0], 'delta_time'], label='Max-1', color='r')
axis_1[1, 1].plot(dfi.loc[month_ix[0], 'delta_time'], label='Max-1', color='r')
axis_1[2, 0].plot(dfi.loc[month_ix[2], 'day'], dfi.loc[month_ix[2], 'delta_time'], label='Max+1', color='g')
axis_1[2, 1].plot(dfi.loc[month_ix[2], 'delta_time'], label='Max+1', color='g')

plt.plot()

[]

<span style="background:violet"> All Months - Split <span>

In [ ]:
# Plot of delta time during the days
for i in range(len(all_months)):
    dfi.loc[month_ix[i], 'delta_time'].plot()

In [ ]:
max(dfi['delta_time'])

<span style="background:violet"> All Months - Together <span>

In [ ]:
for i in range(len(all_months)):
#for i in range(6):
    plt.plot(df.loc[month_ix[i], 'day'], dfi.loc[month_ix[i], 'delta_time'])

### <span style="background:lightgreen"> Plot Data By Year <span>

#### <span style="background:skyblue"> Plot Data By Year - Numbers <span>

In [ ]:
# Split by Month
# ==================================================================================
all_y = dfi['year'].unique()
year_ix = [dfi.loc[df['year'] == y].index for y in all_y]
#year_ix
songs_in_y = [len(year_ix[a]) for a in range(len(year_ix))]

In [ ]:
print(songs_in_y)

In [ ]:
# Plot number of songs listened each month
plt.bar(list(all_y), songs_in_y)
plt.title('Songs Listened Each Year')
plt.xlabel('Years')
plt.ylabel('Songs Listened')
plt.show()

#### <span style="background:skyblue"> Plot Data By Year - DeltaTime <span>

<span style="background:violet"> 3 Years <span>

In [ ]:
figure_0, axis_0 = plt.subplots(1, 2, figsize=(12, 4))
axis_0[0].plot(dfi.loc[year_ix[2], 'month'], dfi.loc[year_ix[2], 'delta_time'], label='MaxYear')
axis_0[0].plot(dfi.loc[year_ix[3], 'month'], dfi.loc[year_ix[3], 'delta_time'], label='Max+1', color='r')
axis_0[0].plot(dfi.loc[year_ix[1], 'month'], dfi.loc[year_ix[1], 'delta_time'], label='Max-1', color='g')

axis_0[0].set_title("All Deltas by Year")

axis_0[1].plot(dfi.loc[year_ix[2], 'delta_time'], label='MaxYear')
axis_0[1].plot(dfi.loc[year_ix[3], 'delta_time'], label='Max+1', color='r')
axis_0[1].plot(dfi.loc[year_ix[1], 'delta_time'], label='Max-1', color='g')
axis_0[1].set_title("All Deltas by Index")

plt.plot()

figure_1, axis_1 = plt.subplots(3, 2, figsize=(12, 8))
axis_1[0, 0].plot(dfi.loc[year_ix[2], 'month'], dfi.loc[year_ix[2], 'delta_time'], label='MaxYear')
axis_1[0, 1].plot(dfi.loc[year_ix[2], 'delta_time'], label='MaxYear')
axis_1[1, 0].plot(dfi.loc[year_ix[3], 'month'], dfi.loc[year_ix[3], 'delta_time'], label='Max+1', color='r')
axis_1[1, 1].plot(dfi.loc[year_ix[3], 'delta_time'], label='Max+1', color='r')
axis_1[2, 0].plot(dfi.loc[year_ix[1], 'month'], dfi.loc[year_ix[1], 'delta_time'], label='Max-1', color='g')
axis_1[2, 1].plot(dfi.loc[year_ix[1], 'delta_time'], label='Max-1', color='g')

plt.plot()

<span style="background:violet"> All Years <span>

In [ ]:
# Plot of delta time during the days
for i in range(len(all_y)):
    dfi.loc[year_ix[i], 'delta_time'].plot()

# <span style="background:Red">  Save Dataframes 4 BurningRate & 4 Predict Song (Classification) <span>

# <span style="background:Red">  Save Dataframes 4 BurningRate & 4 Predict Song (Classification) <span>

In [249]:
dfi.to_json(r"C:\Users\ghoyo\Desktop\TFM 3.0\GeneratedDfs\VisualsData.json")

OSError: Cannot save file into a non-existent directory: 'C:\Users\ghoyo\Desktop\TFM 3.0\GeneratedDfs'

# <span style="background:Red">  Save Dataframes 4 BurningRate & 4 Predict Song (Classification) <span>

# <span style="background:Red">  Save Dataframes 4 BurningRate & 4 Predict Song (Classification) <span>

# <span style='background :khaki' > Make a dataframe with the info of each day <span>

This will make possible to generate predictions models

### First Step - Totals
- Total Nº Streams -> Nº Songs + Nº Podcast
- Total s Streamed -> s Songs Listened + s Podcast Listened

In [250]:
df = dfi

In [ ]:
df2 = dfi.copy()
df2.drop(['spotify_track_uri', 'reason_start', 'end_streaming_seconds', 'start_streaming', 'delta_time', 
          'start_streaming_seconds', 'delta_time', 'week_day_sin', 'week_day_cos', 'time_in_s', 'str_time', 'platform', 
          'master_metadata_track_name', 'master_metadata_album_artist_name', 'master_metadata_album_album_name', 'reason_end', 
          'end_streaming', 'month_and_year', 'days_to_next_month', 'minute', 'second', 'time', 'year', 'seasson', 'month', 
          'week', 'day', 'hour', 'df_fractured'], inplace = True, axis = 1)

In [ ]:
df2.columns

#### <span style="background:skyblue"> Get Total Nº Streams Each Day -> Nº Songs + Nº Podcast </span>

In [ ]:
# Unique Days List
unique_days = df2['date'].unique()
len(unique_days)

# Index each day
day_ix = [df2.loc[df2['date'] == u].index for u in unique_days]

# Total streams each day
day_streams = [len(u) for u in day_ix]
len(day_streams)

# Total Songs each day
day_songs_ix = [df2.loc[(df2['is_song'] == 1) & (df2['date'] == u)].index for u in unique_days]
day_songs = [len(u) for u in day_songs_ix]
len(day_songs)
# Total Podcasts each day
day_podcasts_ix = [df2.loc[(df['is_podcast'] == 1) & (df2['date'] == u)].index for u in unique_days]
day_podcasts = [len(u) for u in day_podcasts_ix]
len(day_podcasts)

#### <span style="background:skyblue"> Get Total s Streamed -> s Songs Listened + s Podcast Listened </span>

In [ ]:
# Unique Days List
unique_days = df2['date'].unique()
len(unique_days)

# Index each day
day_ix = [df2.loc[df2['date'] == u].index for u in unique_days]

# Total s stream each day
day_s_streams = [sum(df2.loc[u, 's_played']) for u in day_ix]
len(day_s_streams)

# Total Songs each day
day_s_songs = [sum(df2.loc[(df2['is_song'] == 1) & (df2['date'] == u), 's_played']) for u in unique_days]
len(day_s_songs)
# Total Podcasts each day
day_s_podcasts = [sum(df2.loc[(df2['is_podcast'] == 1) & (df2['date'] == u), 's_played']) for u in unique_days]
len(day_s_podcasts)

#### <span style="background:skyblue"> New Songs Listened each Day </span>

In [ ]:
### ***Get Unique Streams Names***
unique_names = df.drop_duplicates(subset = ['master_metadata_track_name'])
unique_names = unique_names[['master_metadata_track_name', 'master_metadata_album_artist_name', 'is_song']]
unique_names

## Now we need to specify for podcast
u_s = unique_names[unique_names['is_song'] == 1]['master_metadata_track_name']
u_p = unique_names[unique_names['is_song'] == 0]['master_metadata_album_artist_name']
u_p = u_p.drop_duplicates()

In [ ]:
# Iterate over the list of unique song names saving the index of the first time listened
list_of_index_song = [df.loc[df['master_metadata_track_name'] == song].index[0] for song in u_s]
#len(list_of_index)

# Iterate over the list of unique song names saving the index of the first time listened
list_of_index_podcast = [df.loc[df['master_metadata_album_artist_name'] == podcast].index[0] for podcast in u_p]
#len(list_of_index_podcast)

In [ ]:
# Create column for first time listened song (Yes = 1, No = 0)
df2['aux'] = df2.index
df2['firstTime'] = 0
for i in list_of_index_song:
    df2.loc[i, 'firstTime'] = 1
    
for i in list_of_index_podcast:
    df2.loc[i, 'firstTime'] = 1
    
#df.loc[df['master_metadata_track_name'] == 'RAPSTAR']
df2.drop('aux', inplace=True, axis=1)

#df.head()
#df

In [ ]:
# Add all new songs in one day
day_n_new_streams = [sum(df2.loc[(df2['firstTime'] == 1) & (df2['date'] == u), 'firstTime']) for u in unique_days]
day_n_new_song = [sum(df2.loc[(df2['firstTime'] == 1) & (df2['is_song'] == 1) & (df2['date'] == u), 'firstTime']) for u in unique_days]
day_n_new_podcast = [sum(df2.loc[(df2['firstTime'] == 1) & (df2['is_podcast'] == 1) & (df2['date'] == u), 'firstTime']) for u in unique_days]

len(day_n_new_podcast)

#### <span style="background:skyblue"> Create Daily Stats DF </span>

In [ ]:
%%time
#Total Nº of streams each day =============================================================
df2['day_n_streams'] = np.nan
df2['day_n_songs'] = np.nan
df2['day_n_podcast'] = np.nan

#Total Nº of seconds streamed each day =============================================================
df2['day_s_streams'] = np.nan
df2['day_s_songs'] = np.nan
df2['day_s_podcast'] = np.nan

#Total Nº of seconds NOT streamed each day =============================================================
df2['day_s_no_streams'] = np.nan
df2['day_s_no_songs'] = np.nan
df2['day_s_no_podcast'] = np.nan

#Percentage of seconds streamed each day =============================================================
df2['per_day_stream'] = np.nan
df2['per_day_songs'] = np.nan
df2['per_day_podcast'] = np.nan

#Percentage of seconds streamed by total stream Time =============================================================
df2['per_s_day_podcast'] = np.nan
df2['per_s_day_podcast'] = np.nan

# Count of new elements streamed this day ======================================================
df2['day_new_stream'] = np.nan
df2['day_new_song'] = np.nan
df2['day_new_podcast'] = np.nan

for i in range(len(df2.index)):
    for u, d_s, d_so, d_po, d_s_s, d_s_so, d_s_po, d_n_s, d_n_so, d_n_po in zip(unique_days, day_streams, day_songs, 
                                                                                day_podcasts, day_s_streams, day_s_songs, 
                                                                                day_s_podcasts, day_n_new_streams, 
                                                                                day_n_new_song, day_n_new_podcast):
        if (u == df2.loc[i, 'date']):
            df2.loc[i, 'day_n_streams'] = d_s
            df2.loc[i, 'day_n_songs'] = d_so
            df2.loc[i, 'day_n_podcast'] = d_po
            
            df2.loc[i, 'day_s_streams'] = d_s_s
            df2.loc[i, 'day_s_songs'] = d_s_so
            df2.loc[i, 'day_s_podcast'] = d_s_po
            
            df2.loc[i, 'day_s_no_streams'] = 86400 - d_s_s
            df2.loc[i, 'day_s_no_songs'] = 86400 - d_s_so
            df2.loc[i, 'day_s_no_podcast'] = 86400 - d_s_po
            
            df2.loc[i, 'per_day_stream'] = round(df2.loc[i, 'day_s_streams']/86400, 2)
            df2.loc[i, 'per_day_songs'] = round(df2.loc[i, 'day_s_songs']/86400, 2)
            df2.loc[i, 'per_day_podcast'] = round(df2.loc[i, 'day_s_podcast']/86400, 2)
            
            df2.loc[i, 'per_s_day_songs'] = round(df2.loc[i, 'day_s_songs']/df2.loc[i, 'day_s_streams'], 2)
            df2.loc[i, 'per_s_day_podcast'] = round(df2.loc[i, 'day_s_podcast']/df2.loc[i, 'day_s_streams'], 2)
            
            df2.loc[i, 'day_new_stream'] = d_n_s
            df2.loc[i, 'day_new_song'] = d_n_so
            df2.loc[i, 'day_new_podcast'] = d_n_po

In [ ]:
df.isna().sum()

In [ ]:
df2.head()

# <span style='background :khaki' > Cleaning the new Dataframe <span>

#### <span style="background:skyblue"> Remove No Relevant Columns </span>

In [ ]:
df_easy_day = df2.copy()
df_easy_day.columns

In [ ]:
# Drop columns only dealing with a certain stream an not the hole day
df_easy_day.drop(['is_song', 'is_podcast', 's_played', 'firstTime'], inplace = True, axis = 1)
df_easy_day.columns

#### <span style="background:skyblue"> Remove Fake Predictors </span>

In [ ]:
# When we have highly correlated features in the dataset, the values in “S” matrix will be small. 
# So inverse square of “S” matrix (S^-2 in the above equation) will be large which makes the variance of Wₗₛ large. 
# So, it is advised that we keep only one feature in the dataset if two features are highly correlated. 
#I hope this article was helpful. Please leave your queries if any below.

# Remove Fake Detectors

<span style="background:violet"> Order the data </span>

In [ ]:
c = df_easy_day.columns
c = c.drop('day_n_streams')
c = list(c)
c.insert(0, 'day_n_streams')

df_easy_day = df_easy_day[c]
df_easy_day.head()

<span style="background:violet"> Investigate </span>

In [ ]:
plt.figure(figsize=(16, 6))
heatmap = sns.heatmap(round(df_easy_day.corr(),2), vmin=-1, vmax=1, annot=True, cmap='BrBG')
heatmap.set_title('Correlation Heatmap', fontdict={'fontsize':18}, pad=12);
# save heatmap as .png file
# dpi - sets the resolution of the saved image in dots/inches
# bbox_inches - when set to 'tight' - does not allow the labels to be cropped
plt.savefig('heatmap.png', dpi=300, bbox_inches='tight')

<span style="background:violet"> Drop </span>

In [ ]:
df_easy_day.drop(['day_s_songs', 'day_s_podcast', 'day_s_no_songs', 'day_s_no_streams', 
                  'per_day_songs', 'per_day_songs', 'per_day_stream', 'per_day_podcast', 
                  'per_s_day_podcast', 'day_s_no_podcast', 'per_s_day_songs', 
                  'day_s_streams'], inplace=True, axis=1)

In [ ]:
df_easy_day.head()

### <span style="background:lightgreen"> Create Last Dataframe </span>

In [ ]:
# The DF is going to consist of the necesary features to predict the numbero of streamed / new songs and total streams. With this predicted data we will be able to predict the number of podcast streamed.
df_all_day = df_easy_day.copy()
df_all_day.head()

<span style="background:violet"> Check </span>

In [ ]:
plt.figure(figsize=(16, 6))
heatmap = sns.heatmap(round(df_all_day.corr(),2), vmin=-1, vmax=1, annot=True, cmap='BrBG')
heatmap.set_title('Correlation Heatmap', fontdict={'fontsize':18}, pad=12);
# save heatmap as .png file
# dpi - sets the resolution of the saved image in dots/inches
# bbox_inches - when set to 'tight' - does not allow the labels to be cropped
plt.savefig('heatmap.png', dpi=300, bbox_inches='tight')

#### <span style="background:skyblue"> Missing Values </span>

<span style="background:violet"> seach missing values </span>

In [ ]:
start = df_all_day.index[0]
end = df_all_day.index[-1]
diff = end-start

date_list = [start + timedelta(days=x) for x in range(diff.days+1)]
print('Generated len = ', len(date_list), '\t|', '\t Gen_Start: ', date_list[0], '\t Gen_End: ', date_list[-1])
print('Original len =  ', len(df.index), '\t|', '\t Org_Start: ', start, '\t Org_End: ', end)

if(date_list[0] != start and date_list[-1] != end):
    print('ERROR')
elif(len(df_all_day.index) != len(date_list)):
    print('Missing Values Existing... Reindexing')
    df_all_day = df_all_day.reindex(date_list)
    
#a = pd.date_range(start=df_all_day.index[0], end=df_all_day.index[-1])
#len(a)

In [ ]:
df_all_day.info()

In [ ]:
df_all_day.isna().sum()[0]

In [ ]:
naix = df_all_day[df_all_day['day_n_streams'].isna()].index
df_all_day[df_all_day['day_n_streams'].isna()]

In [ ]:
## Check variability of target variable to know if interpolation is an option
df_all_day.var()

<span style="background:violet"> Complete missing Data </span>

<span style='background :yellow' > Should we interpolate ?? </span>
- Spline Vs Time
 - Spline: Estimates values that minimize overall curvature, thus obtaining a smooth surface passing through the input points.
 - Time: Estimates missing values by focusing more on nearby points than far away points.
 
 
- Forward & Backward
- Statistical

<span style='background :yellow' > No, We need to put ZEROS Everywhere Except in dayweek </span>

df_easy_day = df_easy_day.interpolate(option ='spline')

df_easy_day['day_n_streams'] = df_easy_day['day_n_streams'].interpolate(option ='spline')

In [ ]:
df_all_day.head(2)

In [ ]:
print('Number of missing values =', len(naix), '==', round((len(naix)/len(df_all_day.index))*100,2), '%\n')
for i in naix:
    print(df_all_day.loc[i-timedelta(days=1):i+timedelta(days=1)], '\n\n')
    print(' -------------------------------------------------------------- ', '\n\n')

In [ ]:
for i in naix:
    for j in df_all_day.columns:
        if(j == 'week_day'):
            if(df_all_day.loc[i-timedelta(days=1), j] != 6.0):
                df_all_day.loc[i, j] = df_all_day.loc[i-timedelta(days=1), j]+1
            else:
                df_all_day.loc[i, j] = 0
        else:    
            df_all_day.loc[i, j] = 0

In [ ]:
for i in naix:
    print(df_all_day.loc[i-timedelta(days=1):i+timedelta(days=1)], '\n\n')
    print(' -------------------------------------------------------------- ', '\n\n')

In [ ]:
df_all_day.head()

In [ ]:
df_all_day.isna().sum()[0]

In [ ]:
df_all_day.info()

### <span style='background :lightgreen' > Save Data <span>

In [ ]:
# DF 1 - Original - Predict Nº Streams
df_all_day.to_json(r"C:\Users\ghoyo\Desktop\TFM 3.0\Project\GeneratedDfs\by_day.json")

In [ ]:
sum(df_easy_day['day_new_stream'])

In [ ]:
sum(df_easy_day['day_n_streams'])

# <span style='background :khaki' > Treating Special Data <span>

### <span style="background:lightgreen"> First Discovered Songs</span>

All songs and podcast in the first months are new, but this maight not be true, because you surely know most of them, although it is the first time you are listening to them at this platform

In [ ]:
df_all_day_2 = df_all_day.copy()
ix_l = list(df_all_day_2.index[:30])

In [ ]:
for i, j in zip(df_all_day_2.index, range(len(df_all_day_2.index))):
    if j <= 60:
        df_all_day_2.loc[i, 'day_new_stream'] = 0
        df_all_day_2.loc[i, 'day_new_song'] = 0
        df_all_day_2.loc[i, 'day_new_podcast'] = 0

In [ ]:
df_all_day_2

In [ ]:
df_all_day_2.info()

### <span style='background :lightgreen' > Save Data - 2<span>

In [254]:
# DF 2 - Testing Stationary Transformations - Predict Nº Streams
df_all_day_2.to_json(r"C:\Users\ghoyo\Desktop\TFM 3.0\Project\GeneratedDfs\by_day_2.json")

NameError: name 'df_all_day_2' is not defined

In [255]:
sum(df_all_day_2['day_new_stream'])

NameError: name 'df_all_day_2' is not defined

In [ ]:
sum(df_all_day_2['day_n_streams'])

# <span style='background :khaki' > Generate New Dataframe For Rest Spikes <span>

### <span style="background:lightgreen"> Rest Types </span>

- <<< 10 = Distracción - Mo se Cuenta.
- de 10 a 20 Mins = Descanso Corto
- de 20 mins a 60 mins = Descanso
- de 60 a 120 = Descanso Largo
- de 120 a 240 = Pausa
- de 240 a 480 = Dormido
- de 480 a >>> = Suspendido

In [ ]:
dfi['delta_time'].head()

<span style="background:yellow"> Search more bibliography</span>

#### First we need to place the different thresholds for each rest class so when it is detected we save in a new dataset the most significant data:
 - index: Give access to all temporal features
 - listened time until then // Number of streamings done until then
 - Tipe of rest // Delta time = Seconds rested

In [ ]:
df_aux = dfi.copy()

In [ ]:
df_aux[:20]['delta_time']
df_aux.loc[0, ['delta_time']] = 0

df_aux2 = df_aux
df_aux2['delta_time']

In [ ]:
# Create new dataframe
rest_df = pd.DataFrame(columns = ['end_streaming', 'delta_time', 'rest_type', 'total_time_listened', 'n_streams_listened'])

In [ ]:
df_aux2.loc[1:3, 's_played']

In [ ]:
last_time = 0

for i in df_aux2.index:
    if df_aux2.loc[i, 'delta_time'] > 600 and df_aux2.loc[i, 'delta_time'] <= 1200:
        tt_listened = sum(df_aux2.loc[last_time:i, 's_played'])
        ns_listened = len(df_aux2.loc[last_time:i, 's_played'])
        last_time = i+1 
        new_row = pd.Series({'end_streaming': df_aux2.loc[i, 'end_streaming'], 'delta_time': df_aux2.loc[i, 'delta_time'], 
                             'rest_type': 0, 'total_time_listened': tt_listened, 'n_streams_listened': ns_listened})
        rest_df = pd.concat([rest_df, new_row.to_frame().T])
                
    elif df_aux2.loc[i, 'delta_time'] > 1200 and df_aux2.loc[i, 'delta_time'] <= 3600:
        tt_listened = sum(df_aux2.loc[last_time:i, 's_played'])
        ns_listened = len(df_aux2.loc[last_time:i, 's_played'])
        last_time = i+1 
        new_row = pd.Series({'end_streaming': df_aux2.loc[i, 'end_streaming'], 'delta_time': df_aux2.loc[i, 'delta_time'], 
                             'rest_type': 1, 'total_time_listened': tt_listened, 'n_streams_listened': ns_listened})
        rest_df = pd.concat([rest_df, new_row.to_frame().T])
        #rest_df.append([df_aux2.loc[i, 'end_streaming'], df_aux2.loc[i, 'delta_time'], 1, total_time_listened, n_streams_listened])
        
    elif df_aux2.loc[i, 'delta_time'] > 3600 and df_aux2.loc[i, 'delta_time'] <= 7200:
        tt_listened = sum(df_aux2.loc[last_time:i, 's_played'])
        ns_listened = len(df_aux2.loc[last_time:i, 's_played'])
        last_time = i+1 
        new_row = pd.Series({'end_streaming': df_aux2.loc[i, 'end_streaming'], 'delta_time': df_aux2.loc[i, 'delta_time'], 
                             'rest_type': 2, 'total_time_listened': tt_listened, 'n_streams_listened': ns_listened})
        rest_df = pd.concat([rest_df, new_row.to_frame().T])
        #rest_df.append([df_aux2.loc[i, 'end_streaming'], df_aux2.loc[i, 'delta_time'], 2, total_time_listened, n_streams_listened])
        
    elif df_aux2.loc[i, 'delta_time'] > 7200 and df_aux2.loc[i, 'delta_time'] <= 14400:
        tt_listened = sum(df_aux2.loc[last_time:i, 's_played'])
        ns_listened = len(df_aux2.loc[last_time:i, 's_played'])
        last_time = i+1 
        new_row = pd.Series({'end_streaming': df_aux2.loc[i, 'end_streaming'], 'delta_time': df_aux2.loc[i, 'delta_time'], 
                             'rest_type': 3, 'total_time_listened': tt_listened, 'n_streams_listened': ns_listened})
        rest_df = pd.concat([rest_df, new_row.to_frame().T])
        #rest_df.append([df_aux2.loc[i, 'end_streaming'], df_aux2.loc[i, 'delta_time'], 3, total_time_listened, n_streams_listened])
        
    elif df_aux2.loc[i, 'delta_time'] > 14400 and df_aux2.loc[i, 'delta_time'] <= 28800:
        tt_listened = sum(df_aux2.loc[last_time:i, 's_played'])
        ns_listened = len(df_aux2.loc[last_time:i, 's_played'])
        last_time = i+1
        new_row = pd.Series({'end_streaming': df_aux2.loc[i, 'end_streaming'], 'delta_time': df_aux2.loc[i, 'delta_time'], 
                             'rest_type': 4, 'total_time_listened': tt_listened, 'n_streams_listened': ns_listened})
        rest_df = pd.concat([rest_df, new_row.to_frame().T])
        #rest_df.append([df_aux2.loc[i, 'end_streaming'], df_aux2.loc[i, 'delta_time'], 4, total_time_listened, n_streams_listened])
        
    elif df_aux2.loc[i, 'delta_time'] > 28800 and df_aux2.loc[i, 'delta_time'] <= 86400:
        tt_listened = sum(df_aux2.loc[last_time:i, 's_played'])
        ns_listened = len(df_aux2.loc[last_time:i, 's_played'])
        last_time = i+1 
        new_row = pd.Series({'end_streaming': df_aux2.loc[i, 'end_streaming'], 'delta_time': df_aux2.loc[i, 'delta_time'], 
                             'rest_type': 5, 'total_time_listened': tt_listened, 'n_streams_listened': ns_listened})
        rest_df = pd.concat([rest_df, new_row.to_frame().T])
        #rest_df.append([df_aux2.loc[i, 'end_streaming'], df_aux2.loc[i, 'delta_time'], 5, total_time_listened, n_streams_listened])
        
    elif df_aux2.loc[i, 'delta_time'] > 86400:
        tt_listened = sum(df_aux2.loc[last_time:i, 's_played'])
        ns_listened = len(df_aux2.loc[last_time:i, 's_played'])
        last_time = i+1 
        new_row = pd.Series({'end_streaming': df_aux2.loc[i, 'end_streaming'], 'delta_time': df_aux2.loc[i, 'delta_time'], 
                             'rest_type': 6, 'total_time_listened': tt_listened, 'n_streams_listened': ns_listened})
        rest_df = pd.concat([rest_df, new_row.to_frame().T])
        #rest_df.append([df_aux2.loc[i, 'end_streaming'], df_aux2.loc[i, 'delta_time'], 5, total_time_listened, n_streams_listened])

In [ ]:
rest_df.info()

In [ ]:
rest_df.reset_index(inplace=True, drop=True)
rest_df.set_index('end_streaming', inplace=True)
rest_df

### <span style="background:lightgreen"> Save - 3 </span>

In [ ]:
# Rest Types DF
rest_df.to_json(r"C:\Users\ghoyo\Desktop\TFM 3.0\Project\GeneratedDfs\rests.json")